<p style="color: green"><%= notice %></p>

<h1>Repositories</h1>

<%= link_to "New repository", new_repository_path %>
<div id="repositories">
  <% @repositories.each do |repository| %>
    <%= render repository %>
    <p>
      <%= link_to "#{repository.owner} | #{repository.name}", repository %>
    </p>
  <% end %>
</div>
