---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/30421922/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2NjYyNzA1ODcsImV4cCI6MTY2NjI3MTE4NywiaXNzIjoiNzk2NjcifQ.EXgZtGcIaHccm5IqRz8869N-aP10vwCowIa7s8r_2xXmjegowbNyILIvhJCQyNIhHeaP-Y35O47TeMcf8LI9rLhAVtHZr25pZ9x-o9uDiMv7nne9mpNJDizY4qQUweJmHKdgU7ihgoiqCfJdYotJ-YpVj_0SFtS5asATXO7xJXQ2NBAjuSUoeNI1vC4cXT6Z2CourPKVRrLcASmkgw7vu3yyjEnh5O8sni6Fjgbi4hY9rpa-x7sRwIf3LvGP7JPlOfMy9uPUxPesK42r3BBc0z3FZXZOLRFJzJIiDEGbvG-MSGwNPlEEmh-x0h6rS6VvPyfASjZM14IrrK9YbLWWmQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cc52aa5a3c13d22592ad214fef030a6ce41d103f70426fae1588cddf8a4702ac"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"ghs_FIXN5pgfRizBLd3wfhk64IPEP7HO6o1puewD","expires_at":"2022-10-20T13:56:27Z","permissions":{"metadata":"read","repository_hooks":"write"},"repository_selection":"all"}'
  recorded_at: Thu, 20 Oct 2022 12:56:27 GMT
- request:
    method: get
    uri: https://api.github.com/installation/repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token ghs_FIXN5pgfRizBLd3wfhk64IPEP7HO6o1puewD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"205d2766d863f279fd0580766d871474b4ee5d585cf5a22ef773c28336127607"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/installation/repositories?page=2>; rel="next", <https://api.github.com/installation/repositories?page=8>;
        rel="last"
      X-Ratelimit-Limit:
      - '12500'
      X-Ratelimit-Remaining:
      - '12496'
      X-Ratelimit-Reset:
      - '1666274032'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":230,"repository_selection":"all","repositories":[{"id":172720641,"node_id":"MDEwOlJlcG9zaXRvcnkxNzI3MjA2NDE=","name":"acs-technologies","full_name":"codelittinc/acs-technologies","private":true,"owner":{"login":"codelittinc","id":5694024,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2OTQwMjQ=","avatar_url":"https://avatars.githubusercontent.com/u/5694024?v=4","gravatar_id":"","url":"https://api.github.com/users/codelittinc","html_url":"https://github.com/codelittinc","followers_url":"https://api.github.com/users/codelittinc/followers","following_url":"https://api.github.com/users/codelittinc/following{/other_user}","gists_url":"https://api.github.com/users/codelittinc/gists{/gist_id}","starred_url":"https://api.github.com/users/codelittinc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codelittinc/subscriptions","organizations_url":"https://api.github.com/users/codelittinc/orgs","repos_url":"https://api.github.com/users/codelittinc/repos","events_url":"https://api.github.com/users/codelittinc/events{/privacy}","received_events_url":"https://api.github.com/users/codelittinc/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/codelittinc/acs-technologies","description":null,"fork":false,"url":"https://api.github.com/repos/codelittinc/acs-technologies","forks_url":"https://api.github.com/repos/codelittinc/acs-technologies/forks","keys_url":"https://api.github.com/repos/codelittinc/acs-technologies/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codelittinc/acs-technologies/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codelittinc/acs-technologies/teams","hooks_url":"https://api.github.com/repos/codelittinc/acs-technologies/hooks","issue_events_url":"https://api.github.com/repos/codelittinc/acs-technologies/issues/events{/number}","events_url":"https://api.github.com/repos/codelittinc/acs-technologies/events","assignees_url":"https://api.github.com/repos/codelittinc/acs-technologies/assignees{/user}","branches_url":"https://api.github.com/repos/codelittinc/acs-technologies/branches{/branch}","tags_url":"https://api.github.com/repos/codelittinc/acs-technologies/tags","blobs_url":"https://api.github.com/repos/codelittinc/acs-technologies/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codelittinc/acs-technologies/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codelittinc/acs-technologies/git/refs{/sha}","trees_url":"https://api.github.com/repos/codelittinc/acs-technologies/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codelittinc/acs-technologies/statuses/{sha}","languages_url":"https://api.github.com/repos/codelittinc/acs-technologies/languages","stargazers_url":"https://api.github.com/repos/codelittinc/acs-technologies/stargazers","contributors_url":"https://api.github.com/repos/codelittinc/acs-technologies/contributors","subscribers_url":"https://api.github.com/repos/codelittinc/acs-technologies/subscribers","subscription_url":"https://api.github.com/repos/codelittinc/acs-technologies/subscription","commits_url":"https://api.github.com/repos/codelittinc/acs-technologies/commits{/sha}","git_commits_url":"https://api.github.com/repos/codelittinc/acs-technologies/git/commits{/sha}","comments_url":"https://api.github.com/repos/codelittinc/acs-technologies/comments{/number}","issue_comment_url":"https://api.github.com/repos/codelittinc/acs-technologies/issues/comments{/number}","contents_url":"https://api.github.com/repos/codelittinc/acs-technologies/contents/{+path}","compare_url":"https://api.github.com/repos/codelittinc/acs-technologies/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codelittinc/acs-technologies/merges","archive_url":"https://api.github.com/repos/codelittinc/acs-technologies/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codelittinc/acs-technologies/downloads","issues_url":"https://api.github.com/repos/codelittinc/acs-technologies/issues{/number}","pulls_url":"https://api.github.com/repos/codelittinc/acs-technologies/pulls{/number}","milestones_url":"https://api.github.com/repos/codelittinc/acs-technologies/milestones{/number}","notifications_url":"https://api.github.com/repos/codelittinc/acs-technologies/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codelittinc/acs-technologies/labels{/name}","releases_url":"https://api.github.com/repos/codelittinc/acs-technologies/releases{/id}","deployments_url":"https://api.github.com/repos/codelittinc/acs-technologies/deployments","created_at":"2019-02-26T13:50:38Z","updated_at":"2019-03-19T20:11:27Z","pushed_at":"2019-03-21T16:43:51Z","git_url":"git://github.com/codelittinc/acs-technologies.git","ssh_url":"git@github.com:codelittinc/acs-technologies.git","clone_url":"https://github.com/codelittinc/acs-technologies.git","svn_url":"https://github.com/codelittinc/acs-technologies","homepage":null,"size":212,"stargazers_count":0,"watchers_count":0,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}},{"id":181567655,"node_id":"MDEwOlJlcG9zaXRvcnkxODE1Njc2NTU=","name":"acst-video-streaming-backend","full_name":"codelittinc/acst-video-streaming-backend","private":true,"owner":{"login":"codelittinc","id":5694024,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2OTQwMjQ=","avatar_url":"https://avatars.githubusercontent.com/u/5694024?v=4","gravatar_id":"","url":"https://api.github.com/users/codelittinc","html_url":"https://github.com/codelittinc","followers_url":"https://api.github.com/users/codelittinc[...]
