---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/diffs/commits?api-version=4.1&baseVersion=feat/test&baseVersionType=branch&targetVersion=main&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - eb13d1ef-0d3c-4a60-991e-edc30a3c5277
      Activityid:
      - 45abd137-1665-40c2-9e1a-ab9e881d7f11
      X-Tfs-Session:
      - 45abd137-1665-40c2-9e1a-ab9e881d7f11
      X-Vss-E2eid:
      - 45abd137-1665-40c2-9e1a-ab9e881d7f11
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{"Add":4},"changes":[{"item":{"objectId":"515733e4238414f6a744c57f9f2edf4c945ab65c","gitObjectType":"blob","commitId":"047eccfad1c7109757ec85da1d9780089b06d272","path":"/cool","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/items/cool?versionType=Commit&version=047eccfad1c7109757ec85da1d9780089b06d272"},"changeType":"add"},{"item":{"objectId":"57e4f523122bf85ccd225cef399c37b9aaffe9a3","gitObjectType":"blob","commitId":"047eccfad1c7109757ec85da1d9780089b06d272","path":"/test
        file","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/items/test%20file?versionType=Commit&version=047eccfad1c7109757ec85da1d9780089b06d272"},"changeType":"add"},{"item":{"objectId":"2f984dc5445df5fc5582cdcab0ad73f9662a8871","gitObjectType":"tree","commitId":"047eccfad1c7109757ec85da1d9780089b06d272","path":"/test
        folder","isFolder":true,"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/items/test%20folder?versionType=Commit&version=047eccfad1c7109757ec85da1d9780089b06d272"},"changeType":"add"},{"item":{"objectId":"10500012fca9b4425b50de67a7258a12cba0c076","gitObjectType":"blob","commitId":"047eccfad1c7109757ec85da1d9780089b06d272","path":"/test
        folder/test","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/items/test%20folder%2Ftest?versionType=Commit&version=047eccfad1c7109757ec85da1d9780089b06d272"},"changeType":"add"}],"commonCommit":"00b82e957b4ea80ac03ac1a91982e2cb1021d68f","baseCommit":"d26827b80ddc9c62432a92635cc9f26847e8db66","targetCommit":"047eccfad1c7109757ec85da1d9780089b06d272","aheadCount":4,"behindCount":1}'
  recorded_at: Fri, 07 May 2021 18:39:43 GMT
recorded_with: VCR 6.0.0
