---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/diffs/commits?api-version=4.1&baseVersion=master&baseVersionType=branch&targetVersion=feat/cool-test&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - 49914976-f8c5-451b-a8d7-dcbddffb3fad
      Activityid:
      - 77ed2306-7223-4ca5-85dc-af7b9f46e1a8
      X-Tfs-Session:
      - 77ed2306-7223-4ca5-85dc-af7b9f46e1a8
      X-Vss-E2eid:
      - 77ed2306-7223-4ca5-85dc-af7b9f46e1a8
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{"Edit":1},"changes":[{"item":{"objectId":"31f93dfa6889fd205f23822e692e027661bc97a4","originalObjectId":"900552cd531b57bb22a504bec2ef646417a04087","gitObjectType":"blob","commitId":"b819b726ad839901becbed1b023aca2b5e712567","path":"/teasddas","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/items/teasddas?versionType=Commit&version=b819b726ad839901becbed1b023aca2b5e712567"},"changeType":"edit"}],"commonCommit":"9ab8489d1b13c39c066fbb47a38113429785d1da","baseCommit":"ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04","targetCommit":"b819b726ad839901becbed1b023aca2b5e712567","aheadCount":2,"behindCount":3}'
  recorded_at: Wed, 19 May 2021 16:33:27 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/diffs/commits?api-version=6.0&baseVersion=master&baseVersionType=branch&targetVersion=feat/cool-test&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 0106a456-eb67-49e8-8de9-2bb7fde2cfa6
      - c73d1e8a-7883-47ee-9df0-97abf4270933
      X-Vss-Requestrouted:
      - tfsprodcus6.centralus.cloudapp.azure.com
      Activityid:
      - 7570484b-1412-4042-87d3-656fffce6ab7
      X-Tfs-Session:
      - 9bc05688-6bc5-4c66-bbaa-ac5ece1c7d3d
      X-Vss-E2eid:
      - 9bc05688-6bc5-4c66-bbaa-ac5ece1c7d3d
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{"Edit":1},"changes":[{"item":{"objectId":"31f93dfa6889fd205f23822e692e027661bc97a4","originalObjectId":"900552cd531b57bb22a504bec2ef646417a04087","gitObjectType":"blob","commitId":"b819b726ad839901becbed1b023aca2b5e712567","path":"/teasddas","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/items/teasddas?versionType=Commit&version=b819b726ad839901becbed1b023aca2b5e712567"},"changeType":"edit"}],"commonCommit":"9ab8489d1b13c39c066fbb47a38113429785d1da","baseCommit":"a43f16ff3cb2fe47fb26ab6e968a6f2afe987a16","targetCommit":"b819b726ad839901becbed1b023aca2b5e712567","aheadCount":2,"behindCount":6}'
  recorded_at: Mon, 24 May 2021 15:11:51 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/commits/b819b726ad839901becbed1b023aca2b5e712567?api-version=6.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 28296e91-3f55-4b62-8b93-1d52269ba5fe
      - 4ad41588-828c-4525-94d9-f39a96651ae3
      X-Vss-Requestrouted:
      - tfsprodcus6.centralus.cloudapp.azure.com
      Activityid:
      - f704b0e0-c82c-492d-913f-524e6342c604
      X-Tfs-Session:
      - 7c235a9b-abe7-4559-b6dc-a8a97952cd0f
      X-Vss-E2eid:
      - 7c235a9b-abe7-4559-b6dc-a8a97952cd0f
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"treeId":"18f5ccd6a3a8c9552ccdf8e9849e44018a364793","commitId":"b819b726ad839901becbed1b023aca2b5e712567","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T10:44:04Z","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T10:44:04Z","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"comment":"Updated
        teasddas","parents":["4b8f8e1f32322858b43a1007ced17aa95b74c26f"],"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/b819b726ad839901becbed1b023aca2b5e712567","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/b819b726ad839901becbed1b023aca2b5e712567","_links":{"self":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/b819b726ad839901becbed1b023aca2b5e712567"},"repository":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34"},"web":{"href":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/b819b726ad839901becbed1b023aca2b5e712567"},"changes":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/b819b726ad839901becbed1b023aca2b5e712567/changes"}},"push":{"pushedBy":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_api/_common/identityImage?id=f504d917-1f93-6f97-ab3e-7eceb7174af9","descriptor":"aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"pushId":1906,"date":"2021-05-19T10:44:04.6235788Z"}}'
  recorded_at: Mon, 24 May 2021 15:11:52 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/diffs/commits?api-version=6.0&baseVersion=master&baseVersionType=branch&targetVersion=feat/Ftest-compare-branches&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Tfs-Processid:
      - 217ab7a2-5480-42bc-8888-142afea8d668
      Activityid:
      - 388d8ed6-3f50-4a57-9d8c-8ed128a25591
      X-Tfs-Session:
      - 388d8ed6-3f50-4a57-9d8c-8ed128a25591
      X-Vss-E2eid:
      - 388d8ed6-3f50-4a57-9d8c-8ed128a25591
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: UTF-8
      string: '{"$id":"1","innerException":null,"message":"TF401175:The version descriptor
        <Branch: feat/Ftest-compare-branches > could not be resolved to a version
        in the repository ay-users-api-test","typeName":"Microsoft.TeamFoundation.Git.Server.GitUnresolvableToCommitException,
        Microsoft.TeamFoundation.Git.Server","typeKey":"GitUnresolvableToCommitException","errorCode":0,"eventId":3000}'
  recorded_at: Tue, 25 May 2021 12:51:04 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/diffs/commits?api-version=6.0&baseVersion=master&baseVersionType=branch&targetVersion=feat/test-compare-branches&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Tfs-Processid:
      - bab5b56a-8a85-4d3e-8c0c-2ba522ee5a5a
      Activityid:
      - 2cf7b3de-a713-424d-a894-570931dd884b
      X-Tfs-Session:
      - 2cf7b3de-a713-424d-a894-570931dd884b
      X-Vss-E2eid:
      - 2cf7b3de-a713-424d-a894-570931dd884b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: UTF-8
      string: '{"$id":"1","innerException":null,"message":"TF401175:The version descriptor
        <Branch: feat/test-compare-branches > could not be resolved to a version in
        the repository ay-users-api-test","typeName":"Microsoft.TeamFoundation.Git.Server.GitUnresolvableToCommitException,
        Microsoft.TeamFoundation.Git.Server","typeKey":"GitUnresolvableToCommitException","errorCode":0,"eventId":3000}'
  recorded_at: Tue, 25 May 2021 12:51:36 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/diffs/commits?api-version=6.0&baseVersion=master&baseVersionType=branch&targetVersion=feat/test-compare-branches&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 217ab7a2-5480-42bc-8888-142afea8d668
      Activityid:
      - 388c81a8-3f50-4a57-9d8c-8ed128a25591
      X-Tfs-Session:
      - 388c81a8-3f50-4a57-9d8c-8ed128a25591
      X-Vss-E2eid:
      - 388c81a8-3f50-4a57-9d8c-8ed128a25591
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{},"changes":[],"commonCommit":"5964d2ba6159d6c0cdc7c5241f59f4a6d7d8dd3e","baseCommit":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","targetCommit":"5964d2ba6159d6c0cdc7c5241f59f4a6d7d8dd3e","aheadCount":0,"behindCount":3}'
  recorded_at: Tue, 25 May 2021 12:56:56 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/diffs/commits?api-version=6.0&baseVersion=feat/test-compare-branches&baseVersionType=branch&targetVersion=master&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - '08335d5f-989d-477c-8188-e599d48060be'
      Activityid:
      - 520f308a-c04c-4b50-9f85-e101118c6ec0
      X-Tfs-Session:
      - 520f308a-c04c-4b50-9f85-e101118c6ec0
      X-Vss-E2eid:
      - 520f308a-c04c-4b50-9f85-e101118c6ec0
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{"Edit":1,"Add":1},"changes":[{"item":{"objectId":"e776c70dbc6ea929021515cf4d45a207a2f56517","originalObjectId":"df51d6e3f6d2dfcd7fa60020301c415113580062","gitObjectType":"blob","commitId":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","path":"/README.md","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/items/README.md?versionType=Commit&version=cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f"},"changeType":"edit"},{"item":{"objectId":"c7930257dfef505fd996e1d6f22f2f35149990d0","gitObjectType":"blob","commitId":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","path":"/README2.md","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/items/README2.md?versionType=Commit&version=cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f"},"changeType":"add"}],"commonCommit":"5964d2ba6159d6c0cdc7c5241f59f4a6d7d8dd3e","baseCommit":"5964d2ba6159d6c0cdc7c5241f59f4a6d7d8dd3e","targetCommit":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","aheadCount":3,"behindCount":0}'
  recorded_at: Tue, 25 May 2021 13:06:57 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits/cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f?api-version=6.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
[...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=rc.1.v1.1.0&searchCriteria.itemVersion.versionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 217ab7a2-5480-42bc-8888-142afea8d668
      Activityid:
      - 3881f863-3f50-4a57-9d8c-8ed128a25591
      X-Tfs-Session:
      - 3881f863-3f50-4a57-9d8c-8ed128a25591
      X-Vss-E2eid:
      - 3881f863-3f50-4a57-9d8c-8ed128a25591
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":7,"value":[{"commitId":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T05:22:05Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T05:22:05Z"},"comment":"commit
        number seven","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f"},{"commitId":"8773fb97bbbeee26a0b0a70a6ddecc39bc1226c9","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"[...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=v1.0.0&searchCriteria.itemVersion.versionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
   [...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=master&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
[...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=feat/test-compare-branches&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      messa[...]
