---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/commits?api-version=4.1&searchCriteria.itemVersion.version=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - ec73d517-33cc-4383-abb0-8d621d91297e
      Activityid:
      - ec80f2b4-9d6f-49fd-8fa5-05c25a7e36f1
      X-Tfs-Session:
      - ec80f2b4-9d6f-49fd-8fa5-05c25a7e36f1
      X-Vss-E2eid:
      - ec80f2b4-9d6f-49fd-8fa5-05c25a7e36f1
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <49fc08c31c2fe51ccc48b9dec084ef09d4f8cbc6>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":9,"value":[{"commitId":"49fc08c31c2fe51ccc48b9dec084ef09d4f8cbc6","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-13T20:43:41Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-13T20:43:41Z"},"comment":"asddasAdded
        saddsa","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/49fc08c31c2fe51ccc48b9dec084ef09d4f8cbc6","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/49fc08c31c2fe51ccc48b9dec084ef09d4f8cbc6"},{"commitId":"379b1439d05b91d3ae7567134c3917fe3bb0b313","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-13T17:29:24Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-13T17:29:24Z"},"comment":"Added
        asddasdas","changeCounts":{"Add":1,"Edit":0[...]
- request:
    method: post
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/annotatedtags
    body:
      encoding: UTF-8
      string: '{"name":"rc.2.v1.0.0","taggedObject":{"objectId":"00b82e957b4ea80ac03ac1a91982e2cb1021d68f"},"message":"Added
        README.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - ec73d517-33cc-4383-abb0-8d621d91297e
      Activityid:
      - ec80f297-9d6f-49fd-8fa5-05c25a7e36f1
      X-Tfs-Session:
      - ec80f297-9d6f-49fd-8fa5-05c25a7e36f1
      X-Vss-E2eid:
      - ec80f297-9d6f-49fd-8fa5-05c25a7e36f1
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: UTF-8
      string: '{"name":"rc.2.v1.0.0","objectId":"8ae2eb46fa407aee4e645571a7afa56533cb64cd","taggedObject":{"objectId":"00b82e957b4ea80ac03ac1a91982e2cb1021d68f","objectType":"commit"},"taggedBy":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-17T15:23:38"},"message":"Added
        README.md","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/annotatedTags/8ae2eb46fa407aee4e645571a7afa56533cb64cd"}'
  recorded_at: Mon, 17 May 2021 15:23:38 GMT
recorded_with: VCR 6.0.0
