---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/commits?api-version=4.1&searchCriteria.itemVersion.version=main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - 0a56be56-da79-4838-b73b-a7cf17318c46
      Activityid:
      - 7b4f41f3-d5e3-41ca-85a8-bf351299fda5
      X-Tfs-Session:
      - 7b4f41f3-d5e3-41ca-85a8-bf351299fda5
      X-Vss-E2eid:
      - 7b4f41f3-d5e3-41ca-85a8-bf351299fda5
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":4,"value":[{"commitId":"a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-04-28T19:52:15Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-03T23:37:45Z"},"comment":"Added
        test","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47"},{"commitId":"34a471369f7e8c485185a59401491c219edb6515","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-01T15:31:05Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-01T15:31:05Z"},"comment":"Merged
        PR 39: Added test fileasd","commentTruncated":true,"changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/34a471369f7e8c485185a59401491c219edb6515","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/34a471369f7e8c485185a59401491c219edb6515"},{"commitId":"63200b4f50da54194b5ced3f22ab25e1a280d97a","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes[...]
