---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=master&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - a52d9627-1597-4ed5-ad3a-9c201dfc4661
      Activityid:
      - cb2520ea-efe1-40e1-939b-4c5eeb1a68f7
      X-Tfs-Session:
      - cb2520ea-efe1-40e1-939b-4c5eeb1a68f7
      X-Vss-E2eid:
      - cb2520ea-efe1-40e1-939b-4c5eeb1a68f7
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":14,"value":[{"commitId":"ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T14:50:05Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T14:50:05Z"},"comment":"Added
        saddsaasd","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04"},{"commitId":"6b95f97cf3f3fc987b1d4db3c6b6a22bd5704237","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T14:32:11Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T14:32:11Z"},"comment":"Added
        asddas","changeCounts":{"Add":1,"Edit":0,"D[...]
