---
http_interactions:
- request:
    method: get
    uri: https://vsrm.dev.azure.com/AY-InnovationCenter/Avant/_apis//release/releases?api-version=4.1-preview.6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1-preview.6
      X-Tfs-Processid:
      - e4eb4049-e1f4-4363-a399-1095c835b8bb
      Activityid:
      - 439e3250-1abe-4955-aa15-543da9f32ae6
      X-Tfs-Session:
      - 439e3250-1abe-4955-aa15-543da9f32ae6
      X-Vss-E2eid:
      - 439e3250-1abe-4955-aa15-543da9f32ae6
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      X-Ms-Continuationtoken:
      - '373'
    body:
      encoding: ASCII-8BIT
      string: '{"count":50,"value":[{"id":423,"name":"Release 2.0.0.247-1","status":"active","createdOn":"2021-05-05T18:24:44.827Z","modifiedOn":"2021-05-05T18:24:44.827Z","modifiedBy":{"displayName":"Lorenzo
        Semeria","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/b890774c-4dc8-6e58-b120-b2f58ec4b71f","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm"}},"id":"b890774c-4dc8-6e58-b120-b2f58ec4b71f","uniqueName":"lorenzo.semeria@avisonyoung.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm","descriptor":"aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm"},"createdBy":{"displayName":"Lorenzo
        Semeria","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/b890774c-4dc8-6e58-b120-b2f58ec4b71f","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm"}},"id":"b890774c-4dc8-6e58-b120-b2f58ec4b71f","uniqueName":"lorenzo.semeria@avisonyoung.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm","descriptor":"aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm"},"createdFor":{"displayName":"Lorenzo
        Semeria","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/b890774c-4dc8-6e58-b120-b2f58ec4b71f","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm"}},"id":"b890774c-4dc8-6e58-b120-b2f58ec4b71f","uniqueName":"lorenzo.semeria@avisonyoung.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm","descriptor":"aad.Yjg5MDc3NGMtNGRjOC03ZTU4LWIxMjAtYjJmNThlYzRiNzFm"},"variables":{},"variableGroups":[],"releaseDefinition":{"id":1,"name":"SpacesWebApp","path":"\\Spaces","projectReference":null,"url":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/definitions/1","_links":{"self":{"href":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/definitions/1"},"web":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_release?definitionId=1"}}},"releaseDefinitionRevision":61,"description":"Triggered
        by Build SpacesWebApp 2.0.0.247.","reason":"continuousIntegration","releaseNameFormat":"Release
        $(Build.BuildNumber)-$(rev:r)","keepForever":false,"definitionSnapshotRevision":1,"logsContainerUrl":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/releases/423/logs","url":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/releases/423","_links":{"self":{"href":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/releases/423"},"web":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_release?releaseId=423&_a=release-summary"}},"tags":[],"triggeringArtifactAlias":null,"projectReference":{"id":"e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4","name":"Avant"},"properties":{}},{"id":422,"name":"Develop
        Web Client-0.1.36.99-1","status":"active","createdOn":"2021-05-05T17:01:29.24Z","modifiedOn":"2021-05-05T17:01:29.24Z","modifiedBy":{"displayName":"Travis
        Schilling","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/b07d3c60-3a1e-60f3-96f2-b99c40ad5e3c","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.YjA3ZDNjNjAtM2ExZS03MGYzLTk2ZjItYjk5Yz[...]
