---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/diffs/commits?api-version=4.1&baseVersion=master&baseVersionType=branch&targetVersion=feat/cool-test&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - 49914976-f8c5-451b-a8d7-dcbddffb3fad
      Activityid:
      - 77ed2306-7223-4ca5-85dc-af7b9f46e1a8
      X-Tfs-Session:
      - 77ed2306-7223-4ca5-85dc-af7b9f46e1a8
      X-Vss-E2eid:
      - 77ed2306-7223-4ca5-85dc-af7b9f46e1a8
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{"Edit":1},"changes":[{"item":{"objectId":"31f93dfa6889fd205f23822e692e027661bc97a4","originalObjectId":"900552cd531b57bb22a504bec2ef646417a04087","gitObjectType":"blob","commitId":"b819b726ad839901becbed1b023aca2b5e712567","path":"/teasddas","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/items/teasddas?versionType=Commit&version=b819b726ad839901becbed1b023aca2b5e712567"},"changeType":"edit"}],"commonCommit":"9ab8489d1b13c39c066fbb47a38113429785d1da","baseCommit":"ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04","targetCommit":"b819b726ad839901becbed1b023aca2b5e712567","aheadCount":2,"behindCount":3}'
  recorded_at: Wed, 19 May 2021 16:33:27 GMT
recorded_with: VCR 6.0.0
