---
http_interactions:
- request:
    method: get
    uri: https://vsrm.dev.azure.com/AY-InnovationCenter/Avant/_apis/release/releases?api-version=4.1-preview.6&path=%5Cspaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1-preview.6
      X-Tfs-Processid:
      - effddc4d-8040-4ff8-9fe3-9d5f4f4a34c6
      Activityid:
      - f102a870-0a1d-4d56-ae3d-dee4866556a5
      X-Tfs-Session:
      - f102a870-0a1d-4d56-ae3d-dee4866556a5
      X-Vss-E2eid:
      - f102a870-0a1d-4d56-ae3d-dee4866556a5
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      X-Ms-Continuationtoken:
      - '357'
    body:
      encoding: ASCII-8BIT
      string: '{"count":50,"value":[{"id":438,"name":"Release 2.0.0.258-1","status":"active","createdOn":"2021-05-07T14:14:46.757Z","modifiedOn":"2021-05-07T14:14:46.757Z","modifiedBy":{"displayName":"Arun
        Ramachandran","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/128c6ab8-8af3-64ea-9f2f-a17c3c7d7455","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1"}},"id":"128c6ab8-8af3-64ea-9f2f-a17c3c7d7455","uniqueName":"arun.ramachandran@avisonyoung.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1","descriptor":"aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1"},"createdBy":{"displayName":"Arun
        Ramachandran","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/128c6ab8-8af3-64ea-9f2f-a17c3c7d7455","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1"}},"id":"128c6ab8-8af3-64ea-9f2f-a17c3c7d7455","uniqueName":"arun.ramachandran@avisonyoung.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1","descriptor":"aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1"},"createdFor":{"displayName":"Arun
        Ramachandran","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/128c6ab8-8af3-64ea-9f2f-a17c3c7d7455","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1"}},"id":"128c6ab8-8af3-64ea-9f2f-a17c3c7d7455","uniqueName":"arun.ramachandran@avisonyoung.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1","descriptor":"aad.MTI4YzZhYjgtOGFmMy03NGVhLTlmMmYtYTE3YzNjN2Q3NDU1"},"variables":{},"variableGroups":[],"releaseDefinition":{"id":1,"name":"SpacesWebApp","path":"\\Spaces","projectReference":null,"url":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/definitions/1","_links":{"self":{"href":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/definitions/1"},"web":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_release?definitionId=1"}}},"releaseDefinitionRevision":61,"description":"Triggered
        by Build SpacesWebApp 2.0.0.258.","reason":"continuousIntegration","releaseNameFormat":"Release
        $(Build.BuildNumber)-$(rev:r)","keepForever":false,"definitionSnapshotRevision":1,"logsContainerUrl":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/releases/438/logs","url":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/releases/438","_links":{"self":{"href":"https://vsrm.dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/Release/releases/438"},"web":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_release?releaseId=438&_a=release-summary"}},"tags":[],"triggeringArtifactAlias":null,"projectReference":{"id":"e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4","name":"Avant"},"properties":{}},{"id":437,"name":"Release
        2.0.0.257-1","status":"active","createdOn":"2021-05-07T04:03:17.55Z","modifiedOn":"2021-05-07T04:03:17.55Z","modifiedBy":{"displayName":"Ivan
        Trograncic","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/977564b7-e0c3-6d02-8f52-f3069a45da39","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.OTc3NTY0YjctZTBjMy03ZDAyLThmNTItZjMwNjlhNDVkYTM5"}[...]
