---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/commits?api-version=4.1&searchCriteria.itemVersion.version=main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - 5b5e774b-3379-4ca8-bcb3-949a487d0503
      Activityid:
      - dc30899f-37e6-433c-9bb8-a358438e8b26
      X-Tfs-Session:
      - dc30899f-37e6-433c-9bb8-a358438e8b26
      X-Vss-E2eid:
      - dc30899f-37e6-433c-9bb8-a358438e8b26
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":4,"value":[{"commitId":"a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-04-28T19:52:15Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-03T23:37:45Z"},"comment":"Added
        test","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47"},{"commitId":"34a471369f7e8c485185a59401491c219edb6515","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-01T15:31:05Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-01T15:31:05Z"},"comment":"Merged
        PR 39: Added test fileasd","commentTruncated":true,"changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/34a471369f7e8c485185a59401491c219edb6515","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/34a471369f7e8c485185a59401491c219edb6515"},{"commitId":"63200b4f50da54194b5ced3f22ab25e1a280d97a","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes[...]
- request:
    method: post
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/annotatedtags
    body:
      encoding: UTF-8
      string: '{"name":"v0.4.0","taggedObject":{"objectId":"00b82e957b4ea80ac03ac1a91982e2cb1021d68f"},"message":"Added
        README.md"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1-preview.1
      X-Tfs-Processid:
      - 91a72b93-c4e2-43d0-b0f5-b23d069b76e4
      Activityid:
      - 776acf7b-1f09-4d0f-9499-f48ea3eee6ab
      X-Tfs-Session:
      - 776acf7b-1f09-4d0f-9499-f48ea3eee6ab
      X-Vss-E2eid:
      - 776acf7b-1f09-4d0f-9499-f48ea3eee6ab
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: UTF-8
      string: '{"name":"v0.4.0","objectId":"3b0b384e0e474d088821fca1a59aa1d1f071b1b5","taggedObject":{"objectId":"00b82e957b4ea80ac03ac1a91982e2cb1021d68f","objectType":"commit"},"taggedBy":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-05T21:02:01"},"message":"Added
        README.md","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/annotatedTags/3b0b384e0e474d088821fca1a59aa1d1f071b1b5"}'
  recorded_at: Wed, 05 May 2021 21:02:02 GMT
recorded_with: VCR 6.0.0
