---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/pullrequests/35?api-version=6.0&includeCommits=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 8870796b-8bc0-4433-81f4-9b8c878f9e7b
      Activityid:
      - 4ae5239c-47bf-4d96-9a24-67a8730834e3
      X-Tfs-Session:
      - 4ae5239c-47bf-4d96-9a24-67a8730834e3
      X-Vss-E2eid:
      - 4ae5239c-47bf-4d96-9a24-67a8730834e3
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"repository":{"id":"89287597-fb30-419a-b728-2a84a5cf1b34","name":"ay-users-api-test","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34","project":{"id":"e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4","name":"Avant","description":"Avant
        application","url":"https://dev.azure.com/AY-InnovationCenter/_apis/projects/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4","state":"wellFormed","revision":65,"visibility":"private","lastUpdateTime":"2021-04-13T13:00:08.2Z"},"size":2787,"remoteUrl":"https://AY-InnovationCenter@dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test","sshUrl":"git@ssh.dev.azure.com:v3/AY-InnovationCenter/Avant/ay-users-api-test","webUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test","isDisabled":false},"pullRequestId":35,"codeReviewId":35,"status":"completed","createdBy":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_api/_common/identityImage?id=f504d917-1f93-6f97-ab3e-7eceb7174af9","descriptor":"aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"creationDate":"2021-04-28T19:52:20.5886326Z","closedDate":"2021-05-03T23:37:45.976545Z","title":"Added
        test","description":"Added test","sourceRefName":"refs/heads/feat/test1","targetRefName":"refs/heads/main","mergeStatus":"succeeded","isDraft":false,"mergeId":"7003ef8e-4d45-4735-8a5d-ecaa691dda09","lastMergeSourceCommit":{"commitId":"82d4cf31a948ca3f7bfb2c6bb1286badc0a1013d","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/82d4cf31a948ca3f7bfb2c6bb1286badc0a1013d"},"lastMergeTargetCommit":{"commitId":"34a471369f7e8c485185a59401491c219edb6515","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/34a471369f7e8c485185a59401491c219edb6515"},"lastMergeCommit":{"commitId":"a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-04-28T19:52:15Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-03T23:37:45Z"},"comment":"Added
        test","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47"},"reviewers":[],"commits":[{"commitId":"82d4cf31a948ca3f7bfb2c6bb1286badc0a1013d","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-04-28T19:52:15Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-04-28T19:52:15Z"},"comment":"Added
        test","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/82d4cf31a948ca3f7bfb2c6bb1286badc0a1013d"}],"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/pullRequests/35","_links":{"self":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/pullRequests/35"},"repository":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34"},"workItems":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/pullRequests/35/workitems"},"sourceBranch":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/refs/heads/feat/test1"},"targetBranch":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/refs/heads/main"},"statuses":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/pullRequests/35/statuses"},"sourceCommit":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/82d4cf31a948ca3f7bfb2c6bb1286badc0a1013d"},"targetCommit":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/34a471369f7e8c485185a59401491c219edb6515"},"mergeCommit":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/a6877e5ad7e14ab39ba01a0bdd2a06fd84516d47"},"createdBy":{"href":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9"},"iterations":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/pullRequests/35/iterations"}},"completionOptions":{"mergeCommitMessage":"Merged
        PR 35: Added test\n\nAdded test","deleteSourceBranch":true,"mergeStrategy":"rebase","transitionWorkItems":true,"autoCompleteIgnoreConfigIds":[]},"supportsIterations":true,"completionQueueTime":"2021-05-03T23:37:44.9091409Z","closedBy":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_api/_common/identityImage?id=f504d917-1f93-6f97-ab3e-7eceb7174af9","descriptor":"aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"artifactId":"vstfs:///Git/PullRequestId/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4%2f89287597-fb30-419a-b728-2a84a5cf1b34%2f35"}'
  recorded_at: Tue, 04 May 2021 20:56:33 GMT
recorded_with: VCR 6.0.0
