---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test?api-version=4.1&includeParent=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - 94ebfc53-c416-414a-b03d-6cd55d3e8fc7
      Activityid:
      - 9947cee0-06e1-4379-b9af-06d52846f0df
      X-Tfs-Session:
      - 9947cee0-06e1-4379-b9af-06d52846f0df
      X-Vss-E2eid:
      - 9947cee0-06e1-4379-b9af-06d52846f0df
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"id":"89287597-fb30-419a-b728-2a84a5cf1b34","name":"ay-users-api-test","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34","project":{"id":"e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4","name":"Avant","description":"Avant
        application","url":"https://dev.azure.com/AY-InnovationCenter/_apis/projects/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4","state":"wellFormed","revision":65,"visibility":"private","lastUpdateTime":"2021-04-13T13:00:08.2Z"},"defaultBranch":"refs/heads/main","size":10058,"remoteUrl":"https://AY-InnovationCenter@dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test","sshUrl":"git@ssh.dev.azure.com:v3/AY-InnovationCenter/Avant/ay-users-api-test","webUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test","_links":{"self":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34"},"project":{"href":"vstfs:///Classification/TeamProject/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4"},"web":{"href":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test"},"ssh":{"href":"git@ssh.dev.azure.com:v3/AY-InnovationCenter/Avant/ay-users-api-test"},"commits":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits"},"refs":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/refs"},"pullRequests":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/pullRequests"},"items":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/items"},"pushes":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/pushes"}},"isDisabled":false}'
  recorded_at: Mon, 17 May 2021 17:30:26 GMT
recorded_with: VCR 6.0.0
