---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/refs?api-version=4.1&filter=heads/roadrunner/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - 3a2e1803-b7b1-4d81-b2a9-076b5269a6f1
      Activityid:
      - a4410e8d-ae2a-46b9-8c5f-1e672d8f4fe7
      X-Tfs-Session:
      - a4410e8d-ae2a-46b9-8c5f-1e672d8f4fe7
      X-Vss-E2eid:
      - a4410e8d-ae2a-46b9-8c5f-1e672d8f4fe7
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"value":[{"name":"refs/heads/roadrunner/test","objectId":"047eccfad1c7109757ec85da1d9780089b06d272","creator":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_api/_common/identityImage?id=f504d917-1f93-6f97-ab3e-7eceb7174af9","descriptor":"aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/refs?filter=heads%2Froadrunner%2Ftest"}],"count":1}'
  recorded_at: Fri, 07 May 2021 20:49:22 GMT
recorded_with: VCR 6.0.0
