---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/Visualization/_apis/work/teamsettings/iterations?api-version=6.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnRvbnJjcHB6dmVuc3Zma3Vtd2c3Zm4ybmkzcHB5bHFoYnl3aHd5empoeGZpMnRjZGgyNmE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 3ef9ec3f-e435-48bb-b5ef-4422b1565052
      Activityid:
      - 97250315-c05c-4446-b33b-34948e9b2b24
      X-Tfs-Session:
      - 97250315-c05c-4446-b33b-34948e9b2b24
      X-Vss-E2eid:
      - 97250315-c05c-4446-b33b-34948e9b2b24
      X-Vss-Senderdeploymentid:
      - bf2d63eb-b587-21d6-1b58-7c60ee08ad2d
      X-Vss-Userdata:
      - 4d13cd81-e536-6e63-93fa-0de9cffbb868:kaio@codelitt.com
    body:
      encoding: ASCII-8BIT
      string: '{"count":11,"value":[{"id":"115b47f1-59ef-4b20-99f5-d29f0bb06359","name":"Sprint
        30 - June 8","path":"Avant\\Visualization\\Sprint 30 - June 8","attributes":{"startDate":"2021-05-18T00:00:00Z","finishDate":"2021-05-31T00:00:00Z","timeFrame":"past"},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/ac66e962-f0ae-45ec-94fa-65acb38c8902/_apis/work/teamsettings/iterations/115b47f1-59ef-4b20-99f5-d29f0bb06359"},{"id":"15094841-e8ea-451a-b8e5-b4d647e662c9","name":"Sprint
        31 - June 22","path":"Avant\\Visualization\\Sprint 31 - June 22","attributes":{"startDate":"2021-06-01T00:00:00Z","finishDate":"2021-06-14T00:00:00Z","timeFrame":"past"},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f8[...]
