---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=master&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 49914976-f8c5-451b-a8d7-dcbddffb3fad
      Activityid:
      - 77ec7ba2-7223-4ca5-85dc-af7b9f46e1a8
      X-Tfs-Session:
      - 77ec7ba2-7223-4ca5-85dc-af7b9f46e1a8
      X-Vss-E2eid:
      - 77ec7ba2-7223-4ca5-85dc-af7b9f46e1a8
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":14,"value":[{"commitId":"ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T14:50:05Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T14:50:05Z"},"comment":"Added
        saddsaasd","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/commits/ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-users-api-test/commit/ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04"},{"commitId":"6b95f97cf3f3fc987b1d4db3c6b6a22bd5704237","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T14:32:11Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T14:32:11Z"},"comment":"Added
        asddas","changeCounts":{"Add":1,"Edit":0,"D[...]
- request:
    method: post
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/ay-users-api-test/annotatedtags
    body:
      encoding: UTF-8
      string: '{"name":"v1.3.0","taggedObject":{"objectId":"ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04"},"message":"Added
        saddsaasd"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - a681645d-0061-4ad9-810c-32c5e3f4b3f9
      Activityid:
      - 0bace104-dc1c-4dd8-911f-96092eabc6e0
      X-Tfs-Session:
      - 0bace104-dc1c-4dd8-911f-96092eabc6e0
      X-Vss-E2eid:
      - 0bace104-dc1c-4dd8-911f-96092eabc6e0
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: UTF-8
      string: '{"name":"v1.3.0","objectId":"924498608f4d47a9e6b568f9eabd841a1592d9ee","taggedObject":{"objectId":"ba23b2f6a1d2beccdc45b1c0e86b3627912f7c04","objectType":"commit"},"taggedBy":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-19T16:46:06"},"message":"Added
        saddsaasd","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/89287597-fb30-419a-b728-2a84a5cf1b34/annotatedTags/924498608f4d47a9e6b568f9eabd841a1592d9ee"}'
  recorded_at: Wed, 19 May 2021 16:46:06 GMT
recorded_with: VCR 6.0.0
