---
http_interactions:
- request:
    method: get
    uri: https://api.backstage.codelitt.dev/projects/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"01b25b30597fc7752473d1f38ab60a2d"
    body:
      encoding: UTF-8
      string: '{"customer":{"id":2,"name":"Ministry Brands","created_at":"2023-10-04T20:38:41.786Z","updated_at":"2023-10-04T20:38:41.786Z","source_control_token":"123000","notifications_token":"123455"},"id":1,"name":"Backstage","created_at":"2023-10-09T16:09:22.691Z","updated_at":"2023-10-09T16:09:22.691Z"}'
  recorded_at: Tue, 10 Oct 2023 16:41:51 GMT
recorded_with: VCR 6.1.0
