---
http_interactions:
  - request:
      method: get
      uri: https://api.backstage.codelitt.dev/users?query=azure-devops-kaio,rony-azure-devops
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <SENSITIVE_DATA>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"ff6257f37641465bbf8eb83adf588ff1"
      body:
        encoding: UTF-8
        string: '[{"id":6,"active":true,"contract_type":"Salary","first_name":"Kaio","last_name":"Magalhães","email":"kaio@codelitt.com","google_id":"123445","slug":"c2622a96-7a26-49d9-9a74-b5d06f2e0f11","image_url":null,"seniority":"Senior","profession_id":1,"country":"Brazil","profession":{"id":1,"name":"Engineer"},"permissions":[],"user_service_identifiers":[{"id":1,"identifier":"kaiomagalhaes","service_name":"slack","customer":{"id":1,"name":"Codelitt","source_control_token":"456","notifications_token":"123"}},{"id":2,"identifier":"kaiomagalhaes","service_name":"github","customer":{"id":1,"name":"Codelitt","source_control_token":"456","notifications_token":"123"}},{"id":5,"identifier":"azure-devops-kaio","service_name":"azure-devops-dev","customer":{"id":1,"name":"Codelitt","source_control_token":"456","notifications_token":"123"}}]},{"id":3,"active":true,"contract_type":null,"first_name":"Rheniery","last_name":"Rheniery","email":"rheniery.mendes@codelitt.com","google_id":"123456","slug":"rheniery-rheniery","image_url":null,"seniority":null,"profession_id":1,"country":null,"profession":{"id":1,"name":"Engineer"},"permissions":[],"user_service_identifiers":[{"id":6,"identifier":"rony-azure-devops","service_name":"azure-devops-dev","customer":{"id":1,"name":"Codelitt","source_control_token":"456","notifications_token":"123"}}]}]'
    recorded_at: Sat, 14 Oct 2023 12:55:01 GMT
recorded_with: VCR 6.1.0
