---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test/pulls/180
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9a310950fe459331336390d0f35209dbd1b0f360
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1597858279'
      Etag:
      - W/"316ad95b485ca1a7489653340b916042"
      Last-Modified:
      - Wed, 19 Aug 2020 14:26:52 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/pulls/180","id":455358380,"node_id":"MDExOlB1bGxSZXF1ZXN0NDU1MzU4Mzgw","html_url":"https://github.com/codelittinc/gh-hooks-repo-test/pull/180","diff_url":"https://github.com/codelittinc/gh-hooks-repo-test/pull/180.diff","patch_url":"https://github.com/codelittinc/gh-hooks-repo-test/pull/180.patch","issue_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/issues/180","number":180,"state":"open","locked":false,"title":"Update
        README.md","user":{"login":"kaiomagalhaes","id":1529246,"node_id":"MDQ6VXNlcjE1MjkyNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/1529246?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiomagalhaes","html_url":"https://github.com/kaiomagalhaes","followers_url":"https://api.github.com/users/kaiomagalhaes/followers","following_url":"https://api.github.com/users/kaiomagalhaes/following{/other_user}","gists_url":"https://api.github.com/users/kaiomagalhaes/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiomagalhaes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiomagalhaes/subscriptions","organizations_url":"https://api.github.com/users/kaiomagalhaes/orgs","repos_url":"https://api.github.com/users/kaiomagalhaes/repos","events_url":"https://api.github.com/users/kaiomagalhaes/events{/privacy}","received_events_url":"https://api.github.com/users/kaiomagalhaes/received_events","type":"User","site_admin":false},"body":"","created_at":"2020-07-22T21:13:30Z","updated_at":"2020-08-19T14:26:52Z","closed_at":null,"merged_at":null,"merge_commit_sha":"cbd1466a103c7ef0efe69e0d746b156aa1a07c52","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/pulls/180/commits","review_comments_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/pulls/180/comments","review_comment_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/issues/180/comments","statuses_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/statuses/07214617115abbdf9a353c653acbacad39136aab","head":{"label":"codelittinc:kaiomagalhaes-patch-121","ref":"kaiomagalhaes-patch-121","sha":"07214617115abbdf9a353c653acbacad39136aab","user":{"login":"codelittinc","id":5694024,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2OTQwMjQ=","avatar_url":"https://avatars0.githubusercontent.com/u/5694024?v=4","gravatar_id":"","url":"https://api.github.com/users/codelittinc","html_url":"https://github.com/codelittinc","followers_url":"https://api.github.com/users/codelittinc/followers","following_url":"https://api.github.com/users/codelittinc/following{/other_user}","gists_url":"https://api.github.com/users/codelittinc/gists{/gist_id}","starred_url":"https://api.github.com/users/codelittinc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codelittinc/subscriptions","organizations_url":"https://api.github.com/users/codelittinc/orgs","repos_url":"https://api.github.com/users/codelittinc/repos","events_url":"https://api.github.com/users/codelittinc/events{/privacy}","received_events_url":"https://api.github.com/users/codelittinc/received_events","type":"Organization","site_admin":false},"repo":{"id":234684185,"node_id":"MDEwOlJlcG9zaXRvcnkyMzQ2ODQxODU=","name":"gh-hooks-repo-test","full_name":"codelittinc/gh-hooks-repo-test","private":true,"owner":{"login":"codelittinc","id":5694024,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2OTQwMjQ=","avatar_url":"https://avatars0.githubusercontent.com/u/5694024?v=4","gravatar_id":"","url":"https://api.github.com/users/codelittinc","html_url":"https://github.com/codelittinc","followers_url":"https://api.github.com/users/codelittinc/followers","following_url":"https://api.github.com/users/codelittinc/following{/other_user}","gists_url":"https://api.github.com/users/codelittinc/gists{/gist_id}","starred_url":"https://api.github.com/users/codelittinc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codelittinc/subscriptions","organizations_url":"https://api.github.com/users/codelittinc/orgs","repos_url":"https://api.github.com/users/codelittinc/repos","events_url":"https://api.github.com/users/codelittinc/events{/privacy}","received_events_url":"https://api.github.com/users/codelittinc/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/codelittinc/gh-hooks-repo-test","description":null,"fork":false,"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test","forks_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/forks","keys_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/teams","hooks_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/hooks","issue_events_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/issues/events{/number}","events_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/events","assignees_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/assignees{/user}","branches_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/branches{/branch}","tags_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/tags","blobs_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/statuses/{sha}","languages_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/languages","stargazers_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/stargazers","contributors_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/contributors","subscribers_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/subscribers","subscription_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/subscription","commits_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/contents/{+path}","compare_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/merges","archive_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/downloads","issues_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/issues{/number}","pulls_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/pulls{/number}","milestones_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/milestones{/number}","notifications_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/labels{/name}","releases_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases{/id}","deployments_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/deployments","created_at":"2020-01-18T05:01:44Z","updated_at":"2020-08-18T20:04:55Z","pushed_at":"2020-08-19T14:19:32Z","git_url":"git://github.com/codelittinc/gh-hooks-repo-test.git","ssh_url":"git@github.com:codelittinc/gh-hooks-repo-test.git","clone_url":"https://github.com/codelittinc/gh-hooks-repo-test.git","svn_url":"https://github.com/codelittinc/gh-hooks-repo-test","homepage":null,"size":166,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":77,"license":null,"forks":0,"open_issues":77,"watchers":0,"default_branch":"master"}},"base":{"label":"codelittinc:master","ref":"master","sha":"66a04eb7b4123415b2767c8496f21f8cebcced85","user":{"login":"codelittinc","id":5694024,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2OTQwMjQ=","avatar_url":"https://avatars0.githubusercontent.com/u/5694024?v=4","gravatar_id":"","url":"https://api.github.com/users/codelittinc","html_url":"https://github.com/codelittinc","followers_url":"https://api.github.com/users/codelittinc/followers","following_url":"https://api.github.com/users/codelittinc/following{/ot[...]
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test/pulls/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 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
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4920'
      X-Ratelimit-Reset:
      - '1619817993'
      X-Ratelimit-Used:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Fri, 30 Apr 2021 20:45:52 GMT
recorded_with: VCR 6.0.0
