---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/diffs/commits?api-version=6.0&baseVersion=rc.1.v1.1.0&baseVersionType=tag&targetVersion=v1.0.0&targetVersionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3ef05ed-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3ef05ed-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3ef05ed-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{},"changes":[],"commonCommit":"6386d66dbc96076897ade78021bb91cb94f40972","baseCommit":"14442b5cfdf65531211250b7a7427b0250b64fc1","targetCommit":"6386d66dbc96076897ade78021bb91cb94f40972","aheadCount":0,"behindCount":4}'
  recorded_at: Sat, 22 May 2021 05:09:30 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/diffs/commits?api-version=6.0&baseVersion=rc.1.v1.0.0&baseVersionType=tag&targetVersion=rc.1.v1.1.0&targetVersionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - b82c1df2-54f0-4e51-b7f8-0b5ed8463361
      Activityid:
      - 81b805f0-f835-43e8-9dac-b71fb53f228a
      X-Tfs-Session:
      - 81b805f0-f835-43e8-9dac-b71fb53f228a
      X-Vss-E2eid:
      - 81b805f0-f835-43e8-9dac-b71fb53f228a
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{"Edit":1},"changes":[{"item":{"objectId":"f83be4905899ace1d6adf16a31c65bd008b57aee","originalObjectId":"c3ac25963cc5c4a3df057a077ef9c01fa81498f1","gitObjectType":"blob","commitId":"14442b5cfdf65531211250b7a7427b0250b64fc1","path":"/README.md","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/items/README.md?versionType=Commit&version=14442b5cfdf65531211250b7a7427b0250b64fc1"},"changeType":"edit"}],"commonCommit":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","baseCommit":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","targetCommit":"14442b5cfdf65531211250b7a7427b0250b64fc1","aheadCount":5,"behindCount":0}'
  recorded_at: Sat, 22 May 2021 05:14:14 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits/14442b5cfdf65531211250b7a7427b0250b64fc1?api-version=6.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3ee9c42-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3ee9c42-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3ee9c42-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"treeId":"d496e0c7dc9fab133aa60efad73b9d3db389093a","commitId":"14442b5cfdf65531211250b7a7427b0250b64fc1","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T05:01:21Z","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T05:01:21Z","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"comment":"commit
        number seven","parents":["8773fb97bbbeee26a0b0a70a6ddecc39bc1226c9"],"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/14442b5cfdf65531211250b7a7427b0250b64fc1","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/14442b5cfdf65531211250b7a7427b0250b64fc1","_links":{"self":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/14442b5cfdf65531211250b7a7427b0250b64fc1"},"repository":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731"},"web":{"href":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/14442b5cfdf65531211250b7a7427b0250b64fc1"},"changes":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/14442b5cfdf65531211250b7a7427b0250b64fc1/changes"}},"push":{"pushedBy":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_api/_common/identityImage?id=f504d917-1f93-6f97-ab3e-7eceb7174af9","descriptor":"aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"pushId":2350,"date":"2021-05-22T05:01:21.906361Z"}}'
  recorded_at: Sat, 22 May 2021 05:16:08 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/diffs/commits?api-version=6.0&baseVersion=v1.0.0&baseVersionType=tag&targetVersion=v1.0.0&targetVersionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3ee114d-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3ee114d-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3ee114d-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{},"changes":[],"commonCommit":"6386d66dbc96076897ade78021bb91cb94f40972","baseCommit":"6386d66dbc96076897ade78021bb91cb94f40972","targetCommit":"6386d66dbc96076897ade78021bb91cb94f40972","aheadCount":0,"behindCount":0}'
  recorded_at: Sat, 22 May 2021 05:22:19 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/diffs/commits?api-version=6.0&baseVersion=v1.0.0&baseVersionType=tag&targetVersion=rc.1.v1.1.0&targetVersionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3e9c430-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3e9c430-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3e9c430-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{"Edit":1,"Add":1},"changes":[{"item":{"objectId":"e776c70dbc6ea929021515cf4d45a207a2f56517","originalObjectId":"0dc5c7890f4c7e132e1fc7f82da4bc83c0c33dee","gitObjectType":"blob","commitId":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","path":"/README.md","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/items/README.md?versionType=Commit&version=cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f"},"changeType":"edit"},{"item":{"objectId":"c7930257dfef505fd996e1d6f22f2f35149990d0","gitObjectType":"blob","commitId":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","path":"/README2.md","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/items/README2.md?versionType=Commit&version=cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f"},"changeType":"add"}],"commonCommit":"6386d66dbc96076897ade78021bb91cb94f40972","baseCommit":"6386d66dbc96076897ade78021bb91cb94f40972","targetCommit":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","aheadCount":4,"behindCount":0}'
  recorded_at: Sat, 22 May 2021 05:24:39 GMT
[...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/refs?api-version=6.1-preview.1&filterContains=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - af01bb52-78c6-42db-b296-b6cd1861d80e
      Activityid:
      - 26205d1b-a44f-4e9a-b2b6-782ab540090f
      X-Tfs-Session:
      - 26205d1b-a44f-4e9a-b2b6-782ab540090f
      X-Vss-E2eid:
      - 26205d1b-a44f-4e9a-b2b6-782ab540090f
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"value":[{"name":"refs/tags/rc.1.v1.0.0","objectId":"b7813a61a4f775f31bfe4e5c071766bbd710158a","creator":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_a[...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=v1.0.0&searchCriteria.itemVersion.versionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 6f4e7c2b-1163-4869-adab-0ec0f3b0d94d
      Activityid:
      - df42b977-6888-4335-9fb1-fa83e48c5d0e
      X-Tfs-Session:
      - df42b977-6888-4335-9fb1-fa83e48c5d0e
      X-Vss-E2eid:
      - df42b977-6888-4335-9fb1-fa83e48c5d0e
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <b4d53f613c4a96df13b58023055383dbe423d5bc>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":1,"value":[{"commitId":"b4d53f613c4a96df13b58023055383dbe423d5bc","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:08:09Z"},"committer":{"name":"kaiomagalhaes","email":"me@kaiomagalhaes.com","date":"2021-05-22T04:11:26Z"},"comment":"commit
        number one","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/b4d53f613c4a96df13b58023055383dbe423d5bc","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/b4d53f613c4a96df13b58023055383dbe423d5bc"}]}'
  recorded_at: Tue, 25 May 2021 16:13:06 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=rc.1.v1.1.0&searchCriteria.itemVersion.versionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers[...]
