---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 8ad335f3652a2488ef4589b559f225b0803dea82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d0027ca3b32cd7ec49f904bab4aa8cc9"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1598642877'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30344636","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30344636/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/30344636/assets{?name,label}","html_url":"https://github.com/codelittinc/roadrunner-repository-test/releases/tag/rc.1.v1.0.0","id":30344636,"node_id":"MDc6UmVsZWFzZTMwMzQ0NjM2","tag_name":"rc.1.v1.0.0","target_commitish":"master","name":"rc.1.v1.0.0","draft":false,"author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/following{/other_user}","gists_url":"https://api.github.com/users/Rheniery/gists{/gist_id}","starred_url":"https://api.github.com/users/Rheniery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Rheniery/subscriptions","organizations_url":"https://api.github.com/users/Rheniery/orgs","repos_url":"https://api.github.com/users/Rheniery/repos","events_url":"https://api.github.com/users/Rheniery/events{/privacy}","received_events_url":"https://api.github.com/users/Rheniery/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2020-08-25T18:39:06Z","published_at":"2020-08-28T19:08:18Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/tarball/rc.1.v1.0.0","zipball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/zipball/rc.1.v1.0.0","body":"Description
        of the release"}]'
  recorded_at: Fri, 28 Aug 2020 19:15:32 GMT
- request:
    method: post
    uri: https://slack-api.codelitt.dev/channel-messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":"Release to *QA* triggered by @","channel":"feed-test-automations","ts":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.cm9hZHJ1bm5lcg.2RCJIS5rW7oggjzgCvu1xGrx3e0hBE-3zSraiLUa1eY
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1598642133.011000","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Release
        to *QA* triggered by @","user":"USYCS7QHL","ts":"1598642133.011000","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Fri, 28 Aug 2020 19:15:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/rc.1.v1.0.0...master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 8ad335f3652a2488ef4589b559f225b0803dea82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b246b9d1f732b92fedc046986271fcc3"
      Last-Modified:
      - Fri, 28 Aug 2020 18:35:51 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1598642877'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/rc.1.v1.0.0...master","html_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/rc.1.v1.0.0...master","permalink_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/codelittinc:968266b...codelittinc:7a0e6f4","diff_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/rc.1.v1.0.0...master.diff","patch_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/rc.1.v1.0.0...master.patch","base_commit":{"sha":"968266b1767feda2ac0362bce2539426767fb3f6","node_id":"MDY6Q29tbWl0MjgyMTk5MTQ1Ojk2ODI2NmIxNzY3ZmVkYTJhYzAzNjJiY2UyNTM5NDI2NzY3ZmIzZjY=","commit":{"author":{"name":"Rheniery
        Mendes","email":"rhenierymendes@gmail.com","date":"2020-08-25T18:39:06Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-08-25T18:39:06Z"},"message":"rm
        mrdrg \n\n56561","tree":{"sha":"0e9f90ce0cc4f96268981799b14f06a08ff1623b","url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/trees/0e9f90ce0cc4f96268981799b14f06a08ff1623b"},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/commits/968266b1767feda2ac0362bce2539426767fb3f6","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJfRVrKCRBK7hj4Ov3rIwAAdHIIADElpnQO0XUd8RIgzfUcdCaA\n5IbuATgpXZgGvPoIEwJtQZl3K6idFy9JTYmmDbvnqSpxOtWFt/R0g4suxHOY8qpU\nRJe7fGE9Z0NZavg3JDJFo/bGwLA+iD9rJXah6xF+dcTo99QCA72OzlnXHDQQlxQg\nQFv2LXQyoffGRbi/XJJPmZxE0GLjCVQRM/cWm9QrZdE+LEPGI86qq/EwF8lBK7Up\nf0u5E5roVH4xSVbmo6NhmKtEWOonvlfIb8oVJDF81l0jSr/d011+lFyjmyv+GHcY\nc8xzcaPeJDTouIh3x5uJ8QjyusE4Gi30t6HMhLFWPMHkuK15KNh9S8klxuH8jDc=\n=mdAk\n-----END
        PGP SIGNATURE-----\n","payload":"tree 0e9f90ce0cc4f96268981799b14f06a08ff1623b\nparent
        f0442907fe869881ced807f123bcc3cf640985b8\nauthor Rheniery Mendes <rhenierymendes@gmail.com>
        1598380746 -0300\ncommitter GitHub <noreply@github.com> 1598380746 -0300\n\nrm
        mrdrg \n\n56561"}},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/968266b1767feda2ac0362bce2539426767fb3f6","html_url":"https://github.com/codelittinc/roadrunner-repository-test/commit/968266b1767feda2ac0362bce2539426767fb3f6","comments_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/968266b1767feda2ac0362bce2539426767fb3f6/comments","author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/fo[...]
- request:
    method: post
    uri: https://slack-api.codelitt.dev/channel-messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":"Available in this release:\n - Create
        .gitignore \u003chttps://codelitt.atlassian.net/browse/AYAPI-276|AYAPI-276\u003e","channel":"feed-test-automations","ts":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.cm9hZHJ1bm5lcg.2RCJIS5rW7oggjzgCvu1xGrx3e0hBE-3zSraiLUa1eY
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1598642135.011100","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Available
        in this release:\n - Create .gitignore <https://codelitt.atlassian.net/browse/AYAPI-276|AYAPI-276>","user":"USYCS7QHL","ts":"1598642135.011100","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Fri, 28 Aug 2020 19:15:35 GMT
recorded_with: VCR 6.0.0
