---
http_interactions:
- request:
    method: patch
    uri: https://slack-api.codelitt.dev/channel-messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":":pencil2: There is a new change!","channel":"feed-test-automations","ts":"123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.cm9hZHJ1bm5lcg.2RCJIS5rW7oggjzgCvu1xGrx3e0hBE-3zSraiLUa1eY
  response:
    status:
      code: 400
      message: 'Bad Request '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"message_not_found"}'
  recorded_at: Wed, 12 Aug 2020 19:08:07 GMT
recorded_with: VCR 6.0.0
