---
http_interactions:
  - request:
      method: post
      uri: https://api.notifications.codelitt.dev//channel_messages
      body:
        encoding: UTF-8
        string:
          '{"bot":"roadrunner","message":"Hotfix release to *roadrunner-repository-test*
          *PROD* triggered by @","channel":"feed-test-automations","ts":null}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <SENSITIVE_DATA>
    response:
      status:
        code: 200
        message: "OK "
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string:
          '{"ok":true,"channel":"CRXH3U8PK","ts":"1602598184.000700","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Hotfix
          release to *roadrunner-repository-test* *PROD* triggered by @","user":"USYCS7QHL","ts":"1602598184.000700","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
    recorded_at: Tue, 13 Oct 2020 14:09:44 GMT
  - request:
      method: get
      uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases?per_page=100
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token 2e593567d90bd505570de77f516f44ebe4aba218
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"15f75e8d0ae7faef9f8486a018767ba0c27887568ee465774854de2febd37f62"
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
            admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
            repo, user, workflow, write:discussion, write:packages
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4954"
        X-Ratelimit-Reset:
          - "1602599651"
        X-Ratelimit-Used:
          - "46"
      body:
        encoding: ASCII-8BIT
        string:
          '[{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508970","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508970/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508970/assets{?name,label}","html_url":"https://github.com/codelittinc/roadrunner-repository-test/releases/tag/rc.2.v1.1.1","id":32508970,"node_id":"MDc6UmVsZWFzZTMyNTA4OTcw","tag_name":"rc.2.v1.1.1","target_commitish":"hotfix/fix-to-test","name":null,"draft":false,"author":{"login":"kaiomagalhaes","id":1529246,"node_id":"MDQ6VXNlcjE1MjkyNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/1529246?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiomagalhaes","html_url":"https://github.com/kaiomagalhaes","followers_url":"https://api.github.com/users/kaiomagalhaes/followers","following_url":"https://api.github.com/users/kaiomagalhaes/following{/other_user}","gists_url":"https://api.github.com/users/kaiomagalhaes/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiomagalhaes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiomagalhaes/subscriptions","organizations_url":"https://api.github.com/users/kaiomagalhaes/orgs","repos_url":"https://api.github.com/users/kaiomagalhaes/repos","events_url":"https://api.github.com/users/kaiomagalhaes/events{/privacy}","received_events_url":"https://api.github.com/users/kaiomagalhaes/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-10-07T18:15:43Z","published_at":"2020-10-13T14:08:14Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/tarball/rc.2.v1.1.1","zipball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/zipball/rc.2.v1.1.1","body":"Available
          in the release of *roadrunner-repository-test*:\n - Update README.md"},{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508880","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508880/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508880/asse[...]
  - request:
      method: get
      uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.2.v1.1.1
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token 2e593567d90bd505570de77f516f44ebe4aba218
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"2af8a1b84bca9479b4cbfa40f2afbf59b58428718f0f3f00a4b66b424bad965c"
        Last-Modified:
          - Wed, 07 Oct 2020 18:15:43 GMT
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
            admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
            repo, user, workflow, write:discussion, write:packages
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4953"
        X-Ratelimit-Reset:
          - "1602599651"
        X-Ratelimit-Used:
          - "47"
      body:
        encoding: ASCII-8BIT
        string:
          '{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.2.v1.1.1","html_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.2.v1.1.1","permalink_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/codelittinc:bc1f53d...codelittinc:029fe9f","diff_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.2.v1.1.1.diff","patch_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.2.v1.1.1.patch","base_commit":{"sha":"bc1f53d9bb8818665e5fafc393219023f839bec6","node_id":"MDY6Q29tbWl0MjgyMTk5MTQ1OmJjMWY1M2Q5YmI4ODE4NjY1ZTVmYWZjMzkzMjE5MDIzZjgzOWJlYzY=","commit":{"author":{"name":"Rheniery
          Mendes","email":"rhenierymendes@gmail.com","date":"2020-08-28T20:43:21Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-08-28T20:43:21Z"},"message":"Update
          README.md","tree":{"sha":"da7bf3257fcaec9b2a08ccfd5a88ad55de6f62f6","url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/trees/da7bf3257fcaec9b2a08ccfd5a88ad55de6f62f6"},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/commits/bc1f53d9bb8818665e5fafc393219023f839bec6","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
          PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJfSWxpCRBK7hj4Ov3rIwAAdHIIAIVSTjbiJmuiou9nPBg6irag\nJQHwkzKhD4LKT9Z5N4LoTjEljgix2yzeMvqpcXuCmzCocyPS8VBgsbm5/2ggHYiM\nkBAE+P6skcjbw/fA1H4qMS2WzdEj3bpiYC9DAuWBDGvyxhtZQNiMwX15C5JiJkRi\nQsaoFM1Ut7u+doFiuCScus0u98oL2QOEN8fOPxxsE7Y2ctOifGfmVUmA9NQhS8eS\nghHwXlySC+P8Cs02PzqygnlyMekBdaZfOeVaRI0fatfum/+mRnpjDI2KcRbiZOtw\n/gt6peNDqPt9YsJsBbcsoipMO9JgD694SJvFkWxTftQ7YL8SF82WdHgYTArnUVE=\n=9ogy\n-----END
          PGP SIGNATURE-----\n","payload":"tree da7bf3257fcaec9b2a08ccfd5a88ad55de6f62f6\nparent
          6b137d98a757b677d1322d23df0309a92e3d1622\nauthor Rheniery Mendes <rhenierymendes@gmail.com>
          1598647401 -0300\ncommitter GitHub <noreply@github.com> 1598647401 -0300\n\nUpdate
          README.md"}},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/bc1f53d9bb8818665e5fafc393219023f839bec6","html_url":"https://github.com/codelittinc/roadrunner-repository-test/commit/bc1f53d9bb8818665e5fafc393219023f839bec6","comments_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/bc1f53d9bb8818665e5fafc393219023f839bec6/comments","author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/fo[...]
  - request:
      method: post
      uri: https://api.notifications.codelitt.dev//channel_messages
      body:
        encoding: UTF-8
        string:
          '{"bot":"roadrunner","message":"Available in the release of *roadrunner-repository-test*:\n
          - Update README.md","channel":"feed-test-automations","ts":null}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <SENSITIVE_DATA>
    response:
      status:
        code: 200
        message: "OK "
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string:
          '{"ok":true,"channel":"CRXH3U8PK","ts":"1602598186.000800","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Available
          in the release of *roadrunner-repository-test*:\n - Update README.md","user":"USYCS7QHL","ts":"1602598186.000800","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
    recorded_at: Tue, 13 Oct 2020 14:09:46 GMT
recorded_with: VCR 6.0.0
