---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 8c1860e3bc4a4b007050430e2ad5b30d921628aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d45b9dfd32c9ea99ab071fbae5737017"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1598651031'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30349494","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30349494/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/30349494/assets{?name,label}","html_url":"https://github.com/codelittinc/roadrunner-repository-test/releases/tag/rc.1.v1.2.0","id":30349494,"node_id":"MDc6UmVsZWFzZTMwMzQ5NDk0","tag_name":"rc.1.v1.2.0","target_commitish":"patch-4","name":"rc.1.v1.2.0","draft":false,"author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/following{/other_user}","gists_url":"https://api.github.com/users/Rheniery/gists{/gist_id}","starred_url":"https://api.github.com/users/Rheniery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Rheniery/subscriptions","organizations_url":"https://api.github.com/users/Rheniery/orgs","repos_url":"https://api.github.com/users/Rheniery/repos","events_url":"https://api.github.com/users/Rheniery/events{/privacy}","received_events_url":"https://api.github.com/users/Rheniery/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-08-28T21:14:24Z","published_at":"2020-08-28T21:14:44Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/tarball/rc.1.v1.2.0","zipball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/zipball/rc.1.v1.2.0","body":"Description
        of the release"},{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30348787","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30348787/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/30348787/assets{?name,label}","html_url":"https://github.com/codeli[...]
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.1.v1.2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 8c1860e3bc4a4b007050430e2ad5b30d921628aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c21f4a6cb8a28eccaf6c7900642e3a84"
      Last-Modified:
      - Fri, 28 Aug 2020 21:14:24 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1598651031'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.1.v1.2.0","html_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.1.v1.2.0","permalink_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/codelittinc:bc1f53d...codelittinc:59254c0","diff_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.1.v1.2.0.diff","patch_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.1.0...rc.1.v1.2.0.patch","base_commit":{"sha":"bc1f53d9bb8818665e5fafc393219023f839bec6","node_id":"MDY6Q29tbWl0MjgyMTk5MTQ1OmJjMWY1M2Q5YmI4ODE4NjY1ZTVmYWZjMzkzMjE5MDIzZjgzOWJlYzY=","commit":{"author":{"name":"Rheniery
        Mendes","email":"rhenierymendes@gmail.com","date":"2020-08-28T20:43:21Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-08-28T20:43:21Z"},"message":"Update
        README.md","tree":{"sha":"da7bf3257fcaec9b2a08ccfd5a88ad55de6f62f6","url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/trees/da7bf3257fcaec9b2a08ccfd5a88ad55de6f62f6"},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/commits/bc1f53d9bb8818665e5fafc393219023f839bec6","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJfSWxpCRBK7hj4Ov3rIwAAdHIIAIVSTjbiJmuiou9nPBg6irag\nJQHwkzKhD4LKT9Z5N4LoTjEljgix2yzeMvqpcXuCmzCocyPS8VBgsbm5/2ggHYiM\nkBAE+P6skcjbw/fA1H4qMS2WzdEj3bpiYC9DAuWBDGvyxhtZQNiMwX15C5JiJkRi\nQsaoFM1Ut7u+doFiuCScus0u98oL2QOEN8fOPxxsE7Y2ctOifGfmVUmA9NQhS8eS\nghHwXlySC+P8Cs02PzqygnlyMekBdaZfOeVaRI0fatfum/+mRnpjDI2KcRbiZOtw\n/gt6peNDqPt9YsJsBbcsoipMO9JgD694SJvFkWxTftQ7YL8SF82WdHgYTArnUVE=\n=9ogy\n-----END
        PGP SIGNATURE-----\n","payload":"tree da7bf3257fcaec9b2a08ccfd5a88ad55de6f62f6\nparent
        6b137d98a757b677d1322d23df0309a92e3d1622\nauthor Rheniery Mendes <rhenierymendes@gmail.com>
        1598647401 -0300\ncommitter GitHub <noreply@github.com> 1598647401 -0300\n\nUpdate
        README.md"}},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/bc1f53d9bb8818665e5fafc393219023f839bec6","html_url":"https://github.com/codelittinc/roadrunner-repository-test/commit/bc1f53d9bb8818665e5fafc393219023f839bec6","comments_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/bc1f53d9bb8818665e5fafc393219023f839bec6/comments","author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/fo[...]
