---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=master&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3f3d406-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3f3d406-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3f3d406-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <c69a3d840ae27f07cfdcf54eca3fc65a85d3e462>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":2,"value":[{"commitId":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:16:06Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:16:06Z"},"comment":"commit
        number two","changeCounts":{"Add":0,"Edit":1,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/c69a3d840ae27f07cfdcf54eca3fc65a85d3e462"},{"commitId":"b4d53f613c4a96df13b58023055383dbe423d5bc","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:08:09Z"},"committer":{"name":"kaiomagalhaes","email":"me@kaiomagalhaes.com","date":"2021-05-22T04:11:26Z"},"comment":"commit
        number one","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/b4d53f613c4a96df13b58023055383dbe423d5bc","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/b4d53f613c4a96df13b58023055383dbe423d5bc"}]}'
  recorded_at: Sat, 22 May 2021 04:17:13 GMT
- request:
    method: post
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/annotatedtags
    body:
      encoding: UTF-8
      string: '{"name":"rc.1.v1.0.0","taggedObject":{"objectId":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462"},"message":"commit
        number two"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <SENSITIVE_DATA>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - b555df9f-1aaa-4ac6-8169-ffe624632d85
      Activityid:
      - a2d37437-3c84-47a8-bc61-307db142cfb2
      X-Tfs-Session:
      - a2d37437-3c84-47a8-bc61-307db142cfb2
      X-Vss-E2eid:
      - a2d37437-3c84-47a8-bc61-307db142cfb2
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: UTF-8
      string: '{"name":"rc.1.v1.0.0","objectId":"7fd83ec69a6f67a4ccfdfe205292e60de97fc30e","taggedObject":{"objectId":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","objectType":"commit"},"taggedBy":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:17:14"},"message":"commit
        number two","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/annotatedTags/7fd83ec69a6f67a4ccfdfe205292e60de97fc30e"}'
  recorded_at: Sat, 22 May 2021 04:17:14 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/diffs/commits?api-version=6.0&baseVersion=rc.1.v1.0.0&baseVersionType=tag&targetVersion=master&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.0
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3ecfa2e-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3ecfa2e-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3ecfa2e-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{},"changes":[],"commonCommit":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","baseCommit":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","targetCommit":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","aheadCount":0,"behindCount":0}'
  recorded_at: Sat, 22 May 2021 04:48:44 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=master&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 050f74a1-0ece-40e8-9393-9e1c01cbf313
      Activityid:
      - fc50d237-862c-4c7e-885b-c5b6052f5c46
      X-Tfs-Session:
      - fc50d237-862c-4c7e-885b-c5b6052f5c46
      X-Vss-E2eid:
      - fc50d237-862c-4c7e-885b-c5b6052f5c46
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":7,"value":[{"commitId":"cc6c48dae95743d3dbcdbf8c58dc4bf6c8ee120f","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T05:22:05Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T05:22:05Z"},"comment":"commit
        number seven","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"ht[...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/refs?api-version=6.1-preview.1&filterContains=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnRvbnJjcHB6dmVuc3Zma3Vtd2c3Zm4ybmkzcHB5bHFoYnl3aHd5empoeGZpMnRjZGgyNmE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 8d03202c-d927-4735-9101-ed0bb2b27858
      Activityid:
      - 6f0ee720-0b51-4315-978b-145faa398c7f
      X-Tfs-Session:
      - 6f0ee720-0b51-4315-978b-145faa398c7f
      X-Vss-E2eid:
      - 6f0ee720-0b51-4315-978b-145faa398c7f
      X-Vss-Userdata:
      - 4d13cd81-e536-6e63-93fa-0de9cffbb868:kaio@codelitt.com
    body:
      encoding: ASCII-8BIT
      string: '{"value":[{"name":"refs/tags/rc.1.v1.0.0","objectId":"b7813a61a4f775f31bfe4e5c071766bbd710158a","creator":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_api/_common/identityImage?id=f504d917-1f93-6f97-ab3e-7eceb7174af9","descriptor":"aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/refs?filter=tags%2Frc.1.v1.0.0"},{"name":"refs/tags/rc.1.v1.1.0","objectId":"73c4a3ea1767614944919c4a96c502f942606516","creator":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-[...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=rc.1.v1.1.0&searchCriteria.itemVersion.versionType=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnRvbnJjcHB6dmVuc3Zma3Vtd2c3Zm4ybmkzcHB5bHFoYnl3aHd5empoeGZpMnRjZGgyNmE=
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.fromDate=2021-05-25%2016:07:40&searchCriteria.itemVersion.version=master&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnRvbnJjcHB6dmVuc3Zma3Vtd2c3Zm4ybmkzcHB5bHFoYnl3aHd5empoeGZpMnRjZGgyNmE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - e70aead8-aec6-442b-a4dc-9a0dc3764fcc
      Activityid:
      - 355765ec-3666-4d74-b13f-6348a7ea7487
      X-Tfs-Session:
      - 355765ec-3666-4d74-b13f-6348a7ea7487
      X-Vss-E2eid:
      - 355765ec-3666-4d74-b13f-6348a7ea7487
      X-Vss-Userdata:
      - 4d13cd81-e536-6e63-93fa-0de9cffbb868:kaio@codelitt.com
      Link:
      - <73c4a3ea1767614944919c4a96c502f942606516>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":0,"value":[]}'
  recorded_at: Sat, 05 Jun 2021 12:23:29 GMT
recorded_with: VCR 6.0.0
