---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/codelittinc/test-gh-notifications/releases
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token 2e593567d90bd505570de77f516f44ebe4aba218
    response:
      status:
        code: 301
        message: Moved Permanently
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 301 Moved Permanently
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4992"
        X-Ratelimit-Reset:
          - "1595592382"
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
            admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
            repo, user, workflow, write:discussion, write:packages
        X-Accepted-Oauth-Scopes:
          - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
            security_events, write:repo_hook
        Location:
          - https://api.github.com/repositories/234684185/releases
        X-Github-Media-Type:
          - github.v3; format=json
      body:
        encoding: UTF-8
        string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/234684185/releases","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
    recorded_at: Fri, 24 Jul 2020 11:10:20 GMT
  - request:
      method: get
      uri: https://api.github.com/repositories/234684185/releases
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token 2e593567d90bd505570de77f516f44ebe4aba218
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4991"
        X-Ratelimit-Reset:
          - "1595592383"
        Etag:
          - W/"1975a8382fbeb0284cb59c36c5018d93"
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
            admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
            repo, user, workflow, write:discussion, write:packages
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        Link:
          - <https://api.github.com/repositories/234684185/releases?page=2>; rel="next",
            <https://api.github.com/repositories/234684185/releases?page=2>; rel="last"
      body:
        encoding: ASCII-8BIT
        string:
          '[{"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28849369","assets_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28849369/assets","upload_url":"https://uploads.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28849369/assets{?name,label}","html_url":"https://github.com/codelittinc/gh-hooks-repo-test/releases/tag/v0.5.0","id":28849369,"node_id":"MDc6UmVsZWFzZTI4ODQ5MzY5","tag_name":"v0.5.0","target_commitish":"630d08c4f6bdca1309ba212ba731a249979b95b2","name":null,"draft":false,"author":{"login":"kaiomagalhaes","id":1529246,"node_id":"MDQ6VXNlcjE1MjkyNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/1529246?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiomagalhaes","html_url":"https://github.com/kaiomagalhaes","followers_url":"https://api.github.com/users/kaiomagalhaes/followers","following_url":"https://api.github.com/users/kaiomagalhaes/following{/other_user}","gists_url":"https://api.github.com/users/kaiomagalhaes/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiomagalhaes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiomagalhaes/subscriptions","organizations_url":"https://api.github.com/users/kaiomagalhaes/orgs","repos_url":"https://api.github.com/users/kaiomagalhaes/repos","events_url":"https://api.github.com/users/kaiomagalhaes/events{/privacy}","received_events_url":"https://api.github.com/users/kaiomagalhaes/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2020-07-22T22:43:27Z","published_at":"2020-07-22T22:44:08Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/tarball/v0.5.0","zipball_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/zipball/v0.5.0","body":"Available
          in this release *candidate*:\n - Update README.md "},{"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28849360","assets_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28849360/assets","upload_url":"https://uploads.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28849360/assets{?name,label}","html_url":"https://github.com/codelit[...]
  - request:
      method: post
      uri: https://api.notifications.codelitt.dev/channel_messages
      body:
        encoding: UTF-8
        string: '{"bot":"roadrunner","message":"Release to *QA* triggered by @","channel":"feed-test-automations","ts":null}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <SENSITIVE_DATA>
    response:
      status:
        code: 200
        message: "OK "
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string:
          '{"ok":true,"channel":"CRXH3U8PK","ts":"1595589028.026900","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Release
          to *QA* triggered by @","user":"USYCS7QHL","ts":"1595589028.026900","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
    recorded_at: Fri, 24 Jul 2020 11:10:21 GMT
  - request:
      method: get
      uri: https://api.github.com/repos/codelittinc/test-gh-notifications/compare/v0.5.0...master
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token 2e593567d90bd505570de77f516f44ebe4aba218
    response:
      status:
        code: 301
        message: Moved Permanently
      headers:
        Content-Type:
          - application/json; charset=utf-8
   [...]
  - request:
      method: get
      uri: https://api.github.com/repositories/234684185/compare/v0.5.0...master
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token 2e593567d90bd505570de77f516f44ebe4aba218
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 404 Not Found
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4989"
        X-Ratelimit-Reset:
          - "1595592382"
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
            admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
            repo, user, workflow, write:discussion, write:packages
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
      body:
        encoding: ASCII-8BIT
        string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/commits/#compare-two-commits"}'
    recorded_at: Fri, 24 Jul 2020 11:10:22 GMT
recorded_with: VCR 6.0.0
