---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 8c1860e3bc4a4b007050430e2ad5b30d921628aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0aafca0ed667c9fc2b58407b0d1eaf57"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1598295536'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30066402","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30066402/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/30066402/assets{?name,label}","html_url":"https://github.com/codelittinc/roadrunner-repository-test/releases/tag/rc.1.v0.2.1","id":30066402,"node_id":"MDc6UmVsZWFzZTMwMDY2NDAy","tag_name":"rc.1.v0.2.1","target_commitish":"hotfix/fix-to-test","name":null,"draft":false,"author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/following{/other_user}","gists_url":"https://api.github.com/users/Rheniery/gists{/gist_id}","starred_url":"https://api.github.com/users/Rheniery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Rheniery/subscriptions","organizations_url":"https://api.github.com/users/Rheniery/orgs","repos_url":"https://api.github.com/users/Rheniery/repos","events_url":"https://api.github.com/users/Rheniery/events{/privacy}","received_events_url":"https://api.github.com/users/Rheniery/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-08-24T13:08:54Z","published_at":"2020-08-24T18:17:37Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/tarball/rc.1.v0.2.1","zipball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/zipball/rc.1.v0.2.1","body":"Available
        in this release:\n"},{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/28922334","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/28922334/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/28922334/assets{?name,label}","html_url":"https://github.com/code[...]
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/branches/hotfix/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 8c1860e3bc4a4b007050430e2ad5b30d921628aa
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1598295536'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Branch not found","documentation_url":"https://docs.github.com/rest/reference/repos#get-a-branch"}'
  recorded_at: Mon, 24 Aug 2020 18:17:51 GMT
recorded_with: VCR 6.0.0
