---
http_interactions:
- request:
    method: post
    uri: https://slack-api.codelitt.dev//channel_messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":"Hotfix release to *roadrunner-repository-test*
        *QA* triggered by @","channel":"feed-test-automations","ts":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1602598017.000400","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Hotfix
        release to *roadrunner-repository-test* *QA* triggered by @","user":"USYCS7QHL","ts":"1602598017.000400","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Tue, 13 Oct 2020 14:06:57 GMT
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3e6815c0f360f88db3c1d0298bb352165ac26f51744e9dba5cce42af683948fe"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1602599651'
      X-Ratelimit-Used:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508880","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508880/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/32508880/assets{?name,label}","html_url":"https://github.com/codelittinc/roadrunner-repository-test/releases/tag/rc.1.v1.1.1","id":32508880,"node_id":"MDc6UmVsZWFzZTMyNTA4ODgw","tag_name":"rc.1.v1.1.1","target_commitish":"hotfix/fix-to-test","name":"rc.1.v1.1.1","draft":false,"author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/following{/other_user}","gists_url":"https://api.github.com/users/Rheniery/gists{/gist_id}","starred_url":"https://api.github.com/users/Rheniery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Rheniery/subscriptions","organizations_url":"https://api.github.com/users/Rheniery/orgs","repos_url":"https://api.github.com/users/Rheniery/repos","events_url":"https://api.github.com/users/Rheniery/events{/privacy}","received_events_url":"https://api.github.com/users/Rheniery/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-08-31T13:09:19Z","published_at":"2020-10-13T14:06:45Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/tarball/rc.1.v1.1.1","zipball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/zipball/rc.1.v1.1.1","body":"Description
        of the release"},{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30349494","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/30349494/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/30349494/assets{?name,label}","html_url":"https://github.com/codeli[...]
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/branches/hotfix/fix-to-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"aabfb6ec8d8b2045adc65c651e2a510305605cf2cf3caff50d0c99f2e382222e"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1602599651'
      X-Ratelimit-Used:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"hotfix/fix-to-test","commit":{"sha":"68c44076db9827d83f110692690dbbeeb1ca3a7f","node_id":"MDY6Q29tbWl0MjgyMTk5MTQ1OjY4YzQ0MDc2ZGI5ODI3ZDgzZjExMDY5MjY5MGRiYmVlYjFjYTNhN2Y=","commit":{"author":{"name":"Rheniery
        Mendes","email":"rhenierymendes@gmail.com","date":"2020-08-31T13:38:33Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-08-31T13:38:33Z"},"message":"Update
        README.md","tree":{"sha":"5ca2494c517ccd0089a2f542c72f83f375b164da","url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/trees/5ca2494c517ccd0089a2f542c72f83f375b164da"},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/commits/68c44076db9827d83f110692690dbbeeb1ca3a7f","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJfTP1ZCRBK7hj4Ov3rIwAAdHIIAHDwfgMdo4lPDzfdRWOU7D6x\nrUTVne/Hwn2XDO0N2Ch1NbHQHWqnSITBJXOKeKFwO/k/53kIP/qixYsoI3BGvcHk\nhbPTWd4X1SGCmfF9u2o0wLunBpFBgNyRLlzKFZIB7J4y/mIhPU16CDLocvIYX1vN\n26tvvr2hQGC6rlAorNpQtC6QWf/Volf6Y0t9HB27Izn/YY+9vvy9dc76FJZUAV9I\nNtxo1792Fffn5r245c5vzKV16OsvvcegnXJbC1l10A/boSNQbLPu1pILW7ggDP+B\nXVsGR+QT3sdLxbIA0roKdWhcOwDXskzO+425aCIMxlMetDKa16TZ6ovfRrq/Fus=\n=p5B7\n-----END
        PGP SIGNATURE-----\n","payload":"tree 5ca2494c517ccd0089a2f542c72f83f375b164da\nparent
        897bae42f8bcf90bd8676b1ed94e8ba202a6c9ed\nauthor Rheniery Mendes <rhenierymendes@gmail.com>
        1598881113 -0300\ncommitter GitHub <noreply@github.com> 1598881113 -0300\n\nUpdate
        README.md"}},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/68c44076db9827d83f110692690dbbeeb1ca3a7f","html_url":"https://github.com/codelittinc/roadrunner-repository-test/commit/68c44076db9827d83f110692690dbbeeb1ca3a7f","comments_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/68c44076db9827d83f110692690dbbeeb1ca3a7f/comments","author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/fo[...]
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/rc.1.v1.1.1...hotfix/fix-to-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e6ba90cdfce39e47ea58757cf68e015e2d2a87e4eb65c999c73808635b0384d9"
      Last-Modified:
      - Mon, 31 Aug 2020 13:38:33 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1602599651'
      X-Ratelimit-Used:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/rc.1.v1.1.1...hotfix/fix-to-test","html_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/rc.1.v1.1.1...hotfix/fix-to-test","permalink_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/codelittinc:897bae4...codelittinc:68c4407","diff_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/rc.1.v1.1.1...hotfix/fix-to-test.diff","patch_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/rc.1.v1.1.1...hotfix/fix-to-test.patch","base_commit":{"sha":"897bae42f8bcf90bd8676b1ed94e8ba202a6c9ed","node_id":"MDY6Q29tbWl0MjgyMTk5MTQ1Ojg5N2JhZTQyZjhiY2Y5MGJkODY3NmIxZWQ5NGU4YmEyMDJhNmM5ZWQ=","commit":{"author":{"name":"Rheniery
        Mendes","email":"rhenierymendes@gmail.com","date":"2020-08-31T13:09:19Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-08-31T13:09:19Z"},"message":"Update
        README.md","tree":{"sha":"16b6368bc31d653facb337d5a43539f78a5cb628","url":"https://api.github.com/repos/codelittinc/roadrun[...]
- request:
    method: post
    uri: https://slack-api.codelitt.dev//channel_messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":"Available in the release of *roadrunner-repository-test*:\n
        - Update README.md","channel":"feed-test-automations","ts":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1602598019.000500","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Available
        in the release of *roadrunner-repository-test*:\n - Update README.md","user":"USYCS7QHL","ts":"1602598019.000500","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Tue, 13 Oct 2020 14:06:59 GMT
recorded_with: VCR 6.0.0
