---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=6386d66dbc96076897ade78021bb91cb94f40972&searchCriteria.itemVersion.versionType=commit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - b82c1df2-54f0-4e51-b7f8-0b5ed8463361
      Activityid:
      - 81bad2f9-f835-43e8-9dac-b71fb53f228a
      X-Tfs-Session:
      - 81bad2f9-f835-43e8-9dac-b71fb53f228a
      X-Vss-E2eid:
      - 81bad2f9-f835-43e8-9dac-b71fb53f228a
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <6386d66dbc96076897ade78021bb91cb94f40972>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":3,"value":[{"commitId":"6386d66dbc96076897ade78021bb91cb94f40972","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:50:13Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:50:13Z"},"comment":"commit
        number three","changeCounts":{"Add":0,"Edit":1,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/6386d66dbc96076897ade78021bb91cb94f40972","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/6386d66dbc96076897ade78021bb91cb94f40972"},{"commitId":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:16:06Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:16:06Z"},"comment":"commit
        number two","changeCounts":{"Add"[...]
- request:
    method: post
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/annotatedtags
    body:
      encoding: UTF-8
      string: '{"name":"v1.0.0","taggedObject":{"objectId":"6386d66dbc96076897ade78021bb91cb94f40972"},"message":"commit
        number three"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3ec60b4-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3ec60b4-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3ec60b4-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: UTF-8
      string: '{"name":"v1.0.0","objectId":"278aa2f26bcc11a78a1908067c8cb57b1095f750","taggedObject":{"objectId":"6386d66dbc96076897ade78021bb91cb94f40972","objectType":"commit"},"taggedBy":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:54:17"},"message":"commit
        number three","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/annotatedTags/278aa2f26bcc11a78a1908067c8cb57b1095f750"}'
  recorded_at: Sat, 22 May 2021 04:54:17 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/refs?api-version=6.1-preview.1&filterContains=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3ec52d1-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3ec52d1-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3ec52d1-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"value":[{"name":"refs/tags/rc.1.v1.0.0","objectId":"b7813a61a4f775f31bfe4e5c071766bbd710158a","creator":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_api/_common/identityImage?id=f504d917-1f93-6f97-ab3e-7eceb7174af9","descriptor":"aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/refs?filter=tags%2Frc.1.v1.0.0"},{"name":"refs/tags/rc.2.v1.0.0","objectId":"a12e3032e23081fc8fccc985c042cd1550948cbe","creator":{"displayName":"Kaio
        Magalhaes","url":"https://spsprodcus4.vssps.visualstudio.com/Ac713fab0-a7a4-4858-b8d7-acd0e4cae999/_apis/Identities/f504d917-1f93-6f97-ab3e-7eceb7174af9","_links":{"avatar":{"href":"https://dev.azure.com/AY-InnovationCenter/_apis/GraphProfile/MemberAvatars/aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"}},"id":"f504d917-1f93-6f97-ab3e-7eceb7174af9","uniqueName":"kaio.magalhaes@avisonyoung.onmicrosoft.com","imageUrl":"https://dev.azure.com/AY-InnovationCenter/_api/_common/identityImage?id=f504d917-1f93-6f97-ab3e-7eceb7174af9","descriptor":"aad.ZjUwNGQ5MTctMWY5My03Zjk3LWFiM2UtN2VjZWI3MTc0YWY5"},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/refs?filter=tags%2Frc.2.v1.0.0"}],"count":2}'
  recorded_at: Sat, 22 May 2021 04:56:26 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=master&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
[...]
