---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-rails/pulls/13/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1595940699'
      Etag:
      - W/"30a9a236f0e8f77a7d4d81ed5cb3af7e"
      Last-Modified:
      - Fri, 17 Jul 2020 14:28:00 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"95f822bdd339843a980c6eca4366d9f62a2db285","node_id":"MDY6Q29tbWl0MjU4ODI1MzE4Ojk1ZjgyMmJkZDMzOTg0M2E5ODBjNmVjYTQzNjZkOWY2MmEyZGIyODU=","commit":{"author":{"name":"Victor","email":"vcarvalho0402@gmail.com","date":"2020-06-13T17:45:01Z"},"committer":{"name":"Victor","email":"vcarvalho0402@gmail.com","date":"2020-06-13T17:45:01Z"},"message":"Enable
        cors","tree":{"sha":"31e3f98513bb170639443b35d263305dc3589ccf","url":"https://api.github.com/repos/codelittinc/roadrunner-rails/git/trees/31e3f98513bb170639443b35d263305dc3589ccf"},"url":"https://api.github.com/repos/codelittinc/roadrunner-rails/git/commits/95f822bdd339843a980c6eca4366d9f62a2db285","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/codelittinc/roadrunner-rails/commits/95f822bdd339843a980c6eca4366d9f62a2db285","html_url":"https://github.com/codelittinc/roadrunner-rails/commit/95f822bdd339843a980c6eca4366d9f62a2db285","comments_url":"https://api.github.com/repos/codelittinc/roadrunner-rails/commits/95f822bdd339843a980c6eca4366d9f62a2db285/comments","author":{"login":"victor0402","id":1508248,"node_id":"MDQ6VXNlcjE1MDgyNDg=","avatar_url":"https://avatars0.githubusercontent.com/u/1508248?v=4","gravatar_id":"","url":"https://api.github.com/users/victor0402","html_url":"https://github.com/victor0402","followers_url":"https://api.github.com/users/victor0402/followers","following_url":"https://api.github.com/users/victor0402/following{/other_user}","gists_url":"https://api.github.com/users/victor0402/gists{/gist_id}","starred_url":"https://api.github.com/users/victor0402/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/victor0402/subscriptions","organizations_url":"https://api.github.com/users/victor0402/orgs","repos_url":"https://api.github.com/users/victor0402/repos","events_url":"https://api.github.com/users/victor0402/events{/privacy}","received_events_url":"https://api.github.com/users/victor0402/received_events","type":"User","site_admin":false},"committer":{"login":"victor0402","id":1508248,"node_id":"MDQ6VXNlcjE1MDgyNDg=","avatar_url":"https://avatars0.githubusercontent.com/u/1508248?v=4","gravatar_id":"","url":"https://api.github.com/users/victor0402","html_url":"https://github.com/victor0402","followers_url":"https://api.github.com/users/victor0402/followers","following_url":"https://api.github.com/users/victor0402/following{/other_user}","gists_url":"https://api.github.com/users/victor0402/gists{/gist_id}","starred_url":"https://api.github.com/users/victor0402/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/victor0402/subscriptions","organizations_url":"https://api.github.com/users/victor0402/orgs","repos_url":"https://api.github.com/users/victor0402/repos","events_url":"https://api.github.com/users/victor0402/events{/privacy}","received_events_url":"https://api.github.com/users/victor0402/received_events","type":"User","site_admin":false},"parents":[{"sha":"116c0349bd1dc3f329e2ca8373fed27aada7d8a4","url":"https://api.github.com/repos/codelittinc/roadrunner-rails/commits/116c0349bd1dc3f329e2ca8373fed27aada7d8a4","html_url":"https://github.com/codelittinc/roadrunner-rails/commit/116c0349bd1dc3f329e2ca8373fed27aada7d8a4"}]}]'
  recorded_at: Tue, 28 Jul 2020 12:42:25 GMT
- request:
    method: post
    uri: https://slack-api.codelitt.dev/direct-ephemeral-messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","blocks":[{"type":"section","text":{"type":"mrkdwn","text":":jira:
        the card *AYAPI-254* was found on the PR *roadrunner-rails*-*13*, do you like
        to move it to *Ready for QA*?"}},{"type":"actions","block_id":"actionblock789","elements":[{"type":"button","text":{"type":"plain_text","text":"Yes,
        please!"},"style":"primary","value":"yes","action_id":"jira-status-update-AYAPI-254"}]}],"username":"kaiomagalhaes"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"message_ts":"1595996267.000700"}'
  recorded_at: Wed, 29 Jul 2020 04:17:46 GMT
[...]
- request:
    method: post
    uri: https://slack-api.codelitt.dev/direct_messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":":airplane_departure: Pull Request closed \u003chttps://github.com/codelittinc/roadrunner-rails/pull/13|roadrunner-rails#13\u003e","username":"kaiomagalhaes"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"DSKK0U6EP","ts":"1595999190.001900","message":{"bot_id":"BSW6NEU5N","type":"message","text":":airplane_departure:
        Pull Request closed <https://github.com/codelittinc/roadrunner-rails/pull/13|roadrunner-rails#13>","user":"USYCS7QHL","ts":"1595999190.001900","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Wed, 29 Jul 2020 05:06:29 GMT
- request:
    method: post
    uri: https://slack-api.codelitt.dev/reactions
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","reaction":"airplane_departure","channel":"feed-test-automations","ts":"1596001495.030200"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Wed, 29 Jul 2020 05:47:41 GMT
- request:
    method: post
    uri: https://slack-api.codelitt.dev//direct-ephemeral-messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","blocks":[{"type":"section","text":{"type":"mrkdwn","text":":jira:
        the card *AYAPI-254* was found on the PR *roadrunner-rails*-*13*, do you like
        to move it to *Ready for QA*?"}},{"type":"actions","block_id":"actionblock789","elements":[{"type":"button","text":{"type":"plain_text","text":"Yes,
        please!"},"style":"primary","value":"yes","action_id":"jira-status-update-AYAPI-254"}]}],"username":"kaiomagalhaes"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"message_ts":"1597781506.000300"}'
  recorded_at: Tue, 18 Aug 2020 20:11:46 GMT
[...]
- request:
    method: post
    uri: https://slack-api.codelitt.dev//direct_messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":":airplane_departure: Pull Request closed \u003chttps://github.com/codelittinc/roadrunner-rails/pull/13|roadrunner-rails#13\u003e","username":"kaiomagalhaes"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"DSKK0U6EP","ts":"1597781508.000500","message":{"bot_id":"BSW6NEU5N","type":"message","text":":airplane_departure:
        Pull Request closed <https://github.com/codelittinc/roadrunner-rails/pull/13|roadrunner-rails#13>","user":"USYCS7QHL","ts":"1597781508.000500","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Tue, 18 Aug 2020 20:11:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/ay-properties-api/pulls/13/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b52527c77a16fd6a17333326837a6fbba0c9867c69042ae144137b1c7cef051c"
      Last-Modified:
      - Tue, 09 Mar 2021 22:46:51 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1615392628'
      X-Ratelimit-Used:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"2f9d95df369d1875ee83027461a919ee0009edeb","node_id":"MDY6Q29tbWl0MjIxOTUwODM2OjJmOWQ5NWRmMzY5ZDE4NzVlZTgzMDI3NDYxYTkxOWVlMDAwOWVkZWI=","commit":{"author":{"name":"Gabriel
        Pan Gantes","email":"gabrielpanga@gmail.com","date":"2019-11-25T15:34:05Z"},"committer":{"name":"Gabriel
        Pan Gantes","email":"gabrielpanga@gmail.com","date":"2019-11-25T15:34:05Z"},"message":"Add
        PoC for File Upload","tree":{"sha"[...]
