---
http_interactions:
  - request:
      method: patch
      uri: https://api.notifications.codelitt.dev/channel_messages
      body:
        encoding: UTF-8
        string: '{"bot":"roadrunner","message":":pencil2: There is a new change!","channel":"feed-test-automations","ts":"123"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <SENSITIVE_DATA>
    response:
      status:
        code: 400
        message: "Bad Request "
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"error":"message_not_found"}'
    recorded_at: Wed, 12 Aug 2020 19:08:07 GMT
recorded_with: VCR 6.0.0
