---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7b960c3675934bd4e7a6ea1151eb60ddfda311399b2d79a872b071da132e063e"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1602603708'
      X-Ratelimit-Used:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32513807","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32513807/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/32513807/assets{?name,label}","html_url":"https://github.com/codelittinc/roadrunner-repository-test/releases/tag/rc.1.v1.2.0","id":32513807,"node_id":"MDc6UmVsZWFzZTMyNTEzODA3","tag_name":"rc.1.v1.2.0","target_commitish":"master","name":"rc.1.v1.2.0","draft":false,"author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/following{/other_user}","gists_url":"https://api.github.com/users/Rheniery/gists{/gist_id}","starred_url":"https://api.github.com/users/Rheniery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Rheniery/subscriptions","organizations_url":"https://api.github.com/users/Rheniery/orgs","repos_url":"https://api.github.com/users/Rheniery/repos","events_url":"https://api.github.com/users/Rheniery/events{/privacy}","received_events_url":"https://api.github.com/users/Rheniery/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-08-28T21:14:24Z","published_at":"2020-10-13T14:47:26Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/tarball/rc.1.v1.2.0","zipball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/zipball/rc.1.v1.2.0","body":"Description
        of the release"},{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32509953","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32509953/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/32509953/assets{?name,label}","html_url":"https://github.com/codeli[...]
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/v1.0.0...rc.1.v1.2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e273b995d40a8dc1182d8c9eeadcc39101814625e7928e81826ae511d42a5ae9"
      Last-Modified:
      - Fri, 28 Aug 2020 21:14:24 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1602603708'
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/compare/v1.0.0...rc.1.v1.2.0","html_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.0.0...rc.1.v1.2.0","permalink_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/codelittinc:7a0e6f4...codelittinc:59254c0","diff_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.0.0...rc.1.v1.2.0.diff","patch_url":"https://github.com/codelittinc/roadrunner-repository-test/compare/v1.0.0...rc.1.v1.2.0.patch","base_commit":{"sha":"7a0e6f44f8e3a0c4569d485c81657f2a44692c7a","node_id":"MDY6Q29tbWl0MjgyMTk5MTQ1OjdhMGU2ZjQ0ZjhlM2EwYzQ1NjlkNDg1YzgxNjU3ZjJhNDQ2OTJjN2E=","commit":{"author":{"name":"Rheniery
        Mendes","email":"rhenierymendes@gmail.com","date":"2020-08-28T18:35:51Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-08-28T18:35:51Z"},"message":"Merge
        pull request #1 from codelittinc/Rheniery-patch-1\n\nUpdate README.md","tree":{"sha":"5e256f5c4ec311738ba2ee0606ae3d0fc11a7f5a","url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/trees/5e256f5c4ec311738ba2ee0606ae3d0fc11a7f5a"},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/git/commits/7a0e6f44f8e3a0c4569d485c81657f2a44692c7a","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJfSU6HCRBK7hj4Ov3rIwAAdHIIAH8UFemWGERfQ7MGJOwqnMCI\nop1B98Sak0q+i+aNH4hOGbOYEEg825n3MkhNRn/IzHPsXDCJqgk0Mz28gxs6fcY+\nYTad9ctDupnV64ZP9wrwmw5YZIBblWRVwunMJeXiklPovmqtrOMJ/SIMN0fCsrwe\nhgviTp9Z2/Q+Um2QGqaEBQWnOm2Dsr5MCajdNPMt9awS29Axlq+LpAkWRTnEq9lS\nZG0ogl3e0k9kRh1KnIiXtSB3VDYjso8v+IxdrsmCI/M/R0/Cukat3c+VmyFF2zsN\njxgK3WA1U4FkhhXJDwMHBe65bm+rl8x00fQRFFscoVpFVoIMUfz86xh54HODxyI=\n=xF9H\n-----END
        PGP SIGNATURE-----\n","payload":"tree 5e256f5c4ec311738ba2ee0606ae3d0fc11a7f5a\nparent
        43b58be5634e022d16a10b886a80e3c0be2ee3a9\nparent 12f689c42e215e7a24937d8438c3aa7d909dde6b\nauthor
        Rheniery Mendes <rhenierymendes@gmail.com> 1598639751 -0300\ncommitter GitHub
        <noreply@github.com> 1598639751 -0300\n\nMerge pull request #1 from codelittinc/Rheniery-patch-1\n\nUpdate
        README.md"}},"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/7a0e6f44f8e3a0c4569d485c81657f2a44692c7a","html_url":"https://github.com/codelittinc/roadrunner-repository-test/commit/7a0e6f44f8e3a0c4569d485c81657f2a44692c7a","comments_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/commits/7a0e6f44f8e3a0c4569d485c81657f2a44692c7a/comments","author":{"login":"Rheniery","id":12198683,"node_id":"MDQ6VXNlcjEyMTk4Njgz","avatar_url":"https://avatars1.githubusercontent.com/u/12198683?v=4","gravatar_id":"","url":"https://api.github.com/users/Rheniery","html_url":"https://github.com/Rheniery","followers_url":"https://api.github.com/users/Rheniery/followers","following_url":"https://api.github.com/users/Rheniery/fo[...]
