---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/diffs/commits?api-version=4.1&baseVersion=rc.1.v1.0.0&baseVersionType=tag&targetVersion=master&targetVersionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - b555df9f-1aaa-4ac6-8169-ffe624632d85
      Activityid:
      - a2d3deaa-3c84-47a8-bc61-307db142cfb2
      X-Tfs-Session:
      - a2d3deaa-3c84-47a8-bc61-307db142cfb2
      X-Vss-E2eid:
      - a2d3deaa-3c84-47a8-bc61-307db142cfb2
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"allChangesIncluded":true,"changeCounts":{},"changes":[],"commonCommit":"b4d53f613c4a96df13b58023055383dbe423d5bc","baseCommit":"b4d53f613c4a96df13b58023055383dbe423d5bc","targetCommit":"b4d53f613c4a96df13b58023055383dbe423d5bc","aheadCount":0,"behindCount":0}'
  recorded_at: Sat, 22 May 2021 04:13:14 GMT
- request:
    method: post
    uri: https://slack-api.codelitt.dev/channel-messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":"Update release to *roadrunner-repository-test*
        *QA* triggered by @","channel":"feed-test-automations","ts":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.cm9hZHJ1bm5lcg.2RCJIS5rW7oggjzgCvu1xGrx3e0hBE-3zSraiLUa1eY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1621658893.010100","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Update
        release to *roadrunner-repository-test* *QA* triggered by @","user":"USYCS7QHL","ts":"1621658893.010100","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Sat, 22 May 2021 04:48:13 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/refs?api-version=6.1-preview.1&filterContains=tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - b555df9f-1aaa-4ac6-8169-ffe624632d85
      Activityid:
      - a2cc16fb-3c84-47a8-bc61-307db142cfb2
      X-Tfs-Session:
      - a2cc16fb-3c84-47a8-bc61-307db142cfb2
      X-Vss-E2eid:
      - a2cc16fb-3c84-47a8-bc61-307db142cfb2
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: ASCII-8BIT
      string: '{"value":[],"count":0}'
  recorded_at: Sat, 22 May 2021 04:48:15 GMT
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/commits?api-version=6.1-preview.1&searchCriteria.itemVersion.version=master&searchCriteria.itemVersion.versionType=branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - b555df9f-1aaa-4ac6-8169-ffe624632d85
      Activityid:
      - a2cc169b-3c84-47a8-bc61-307db142cfb2
      X-Tfs-Session:
      - a2cc169b-3c84-47a8-bc61-307db142cfb2
      X-Vss-E2eid:
      - a2cc169b-3c84-47a8-bc61-307db142cfb2
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
      Link:
      - <c69a3d840ae27f07cfdcf54eca3fc65a85d3e462>;rel="startingCommitId"
    body:
      encoding: ASCII-8BIT
      string: '{"count":2,"value":[{"commitId":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:16:06Z"},"committer":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:16:06Z"},"comment":"commit
        number two","changeCounts":{"Add":0,"Edit":1,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/c69a3d840ae27f07cfdcf54eca3fc65a85d3e462"},{"commitId":"b4d53f613c4a96df13b58023055383dbe423d5bc","author":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:08:09Z"},"committer":{"name":"kaiomagalhaes","email":"me@kaiomagalhaes.com","date":"2021-05-22T04:11:26Z"},"comment":"commit
        number one","changeCounts":{"Add":1,"Edit":0,"Delete":0},"url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/commits/b4d53f613c4a96df13b58023055383dbe423d5bc","remoteUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/roadrunner-repository-test/commit/b4d53f613c4a96df13b58023055383dbe423d5bc"}]}'
  recorded_at: Sat, 22 May 2021 04:48:15 GMT
[...]
- request:
    method: post
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/roadrunner-repository-test/annotatedtags
    body:
      encoding: UTF-8
      string: '{"name":"rc.1.v1.0.0","taggedObject":{"objectId":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462"},"message":"commit
        number two"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OjJzdGJ2MmRlYWE0YWlzaHJsZ3h2ZmNkazQ3ajVvbWRmdjMyYTV4djU0bDd5YXB1a3VmY3E=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=6.1-preview.1
      X-Tfs-Processid:
      - 1d7388c0-c76f-467f-9111-a4ac5629bbbd
      Activityid:
      - d3ecf5b1-c569-4837-91c9-9ac7247f3b7b
      X-Tfs-Session:
      - d3ecf5b1-c569-4837-91c9-9ac7247f3b7b
      X-Vss-E2eid:
      - d3ecf5b1-c569-4837-91c9-9ac7247f3b7b
      X-Vss-Userdata:
      - f504d917-1f93-6f97-ab3e-7eceb7174af9:kaio.magalhaes@avisonyoung.onmicrosoft.com
    body:
      encoding: UTF-8
      string: '{"name":"rc.1.v1.0.0","objectId":"b7813a61a4f775f31bfe4e5c071766bbd710158a","taggedObject":{"objectId":"c69a3d840ae27f07cfdcf54eca3fc65a85d3e462","objectType":"commit"},"taggedBy":{"name":"Kaio
        Magalhaes","email":"kaio.magalhaes@avisonyoung.onmicrosoft.com","date":"2021-05-22T04:48:17"},"message":"commit
        number two","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/0ac9dd43-2a38-46c0-b033-3aefee19c731/annotatedTags/b7813a61a4f775f31bfe4e5c071766bbd710158a"}'
  recorded_at: Sat, 22 May 2021 04:48:17 GMT
- request:
    method: post
    uri: https://slack-api.codelitt.dev/channel-messages
    body:
      encoding: UTF-8
      string: '{"bot":"roadrunner","message":"Available in the release of *roadrunner-repository-test*:\n
        - commit number one \n - commit number two","channel":"feed-test-automations","ts":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.cm9hZHJ1bm5lcg.2RCJIS5rW7oggjzgCvu1xGrx3e0hBE-3zSraiLUa1eY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1621658899.010200","message":{"bot_id":"BSW6NEU5N","type":"message","text":"Available
        in the release of *roadrunner-repository-test*:\n - commit number one \n -
        commit number two","user":"USYCS7QHL","ts":"1621658899.010200","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Sat, 22 May 2021 04:48:19 GMT
recorded_with: VCR 6.0.0
