---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/AY-InnovationCenter/Avant/_apis/git/repositories/93ed8322-6ef9-4c87-a458-b3d0859de666?api-version=4.1&includeParent=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnRvbnJjcHB6dmVuc3Zma3Vtd2c3Zm4ybmkzcHB5bHFoYnl3aHd5empoeGZpMnRjZGgyNmE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=4.1
      X-Tfs-Processid:
      - 2bf58280-6af4-4504-9416-60881c407fc7
      Activityid:
      - 15ae7b9d-5db8-4b80-9d67-cf9f4a8f0a2c
      X-Tfs-Session:
      - 15ae7b9d-5db8-4b80-9d67-cf9f4a8f0a2c
      X-Vss-E2eid:
      - 15ae7b9d-5db8-4b80-9d67-cf9f4a8f0a2c
      X-Vss-Userdata:
      - 4d13cd81-e536-6e63-93fa-0de9cffbb868:kaio@codelitt.com
    body:
      encoding: ASCII-8BIT
      string: '{"id":"93ed8322-6ef9-4c87-a458-b3d0859de666","name":"ay-pia-web","url":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/93ed8322-6ef9-4c87-a458-b3d0859de666","project":{"id":"e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4","name":"Avant","description":"Avant
        application","url":"https://dev.azure.com/AY-InnovationCenter/_apis/projects/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4","state":"wellFormed","revision":80,"visibility":"private","lastUpdateTime":"2021-06-14T15:53:17.783Z"},"defaultBranch":"refs/heads/master","size":12610374,"remoteUrl":"https://AY-InnovationCenter@dev.azure.com/AY-InnovationCenter/Avant/_git/ay-pia-web","sshUrl":"git@ssh.dev.azure.com:v3/AY-InnovationCenter/Avant/ay-pia-web","webUrl":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-pia-web","_links":{"self":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/93ed8322-6ef9-4c87-a458-b3d0859de666"},"project":{"href":"vstfs:///Classification/TeamProject/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4"},"web":{"href":"https://dev.azure.com/AY-InnovationCenter/Avant/_git/ay-pia-web"},"ssh":{"href":"git@ssh.dev.azure.com:v3/AY-InnovationCenter/Avant/ay-pia-web"},"commits":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/93ed8322-6ef9-4c87-a458-b3d0859de666/commits"},"refs":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/93ed8322-6ef9-4c87-a458-b3d0859de666/refs"},"pullRequests":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/93ed8322-6ef9-4c87-a458-b3d0859de666/pullRequests"},"items":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/93ed8322-6ef9-4c87-a458-b3d0859de666/items"},"pushes":{"href":"https://dev.azure.com/AY-InnovationCenter/e57bfb9f-c5eb-4f96-9f83-8a98a76bfda4/_apis/git/repositories/93ed8322-6ef9-4c87-a458-b3d0859de666/pushes"}},"isDisabled":false}'
  recorded_at: Tue, 06 Jul 2021 12:46:10 GMT
recorded_with: VCR 6.0.0
