---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"content_type":"json","insecure_ssl":"1","url":"https://api.roadrunner.codelitt.dev/flows"},"events":["check_run","pull_request","pull_request_review","push","release"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token b7951d325f100301787d6a111a82df6d5232fb46
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, repo, write:repo_hook
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1620658993'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"resource":"Hook","code":"custom","message":"Hook
        already exists on this repository"}],"documentation_url":"https://docs.github.com/rest/reference/repos#create-a-repository-webhook"}'
  recorded_at: Mon, 10 May 2021 14:10:57 GMT
recorded_with: VCR 6.0.0
