---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/codelitt-v2/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"20e01c965550d436ecf14f4f5f2ba7ded5cf995d868e5405bd82e57a7a72f095"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/63980910/releases?per_page=100&page=2>;
        rel="next", <https://api.github.com/repositories/63980910/releases?per_page=100&page=2>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1602599651'
      X-Ratelimit-Used:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/codelitt-v2/releases/32505204","assets_url":"https://api.github.com/repos/codelittinc/codelitt-v2/releases/32505204/assets","upload_url":"https://uploads.github.com/repos/codelittinc/codelitt-v2/releases/32505204/assets{?name,label}","html_url":"https://github.com/codelittinc/codelitt-v2/releases/tag/rc.2.v1.33.0","id":32505204,"node_id":"MDc6UmVsZWFzZTMyNTA1MjA0","tag_name":"rc.2.v1.33.0","target_commitish":"master","name":null,"draft":false,"author":{"login":"kaiomagalhaes","id":1529246,"node_id":"MDQ6VXNlcjE1MjkyNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/1529246?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiomagalhaes","html_url":"https://github.com/kaiomagalhaes","followers_url":"https://api.github.com/users/kaiomagalhaes/followers","following_url":"https://api.github.com/users/kaiomagalhaes/following{/other_user}","gists_url":"https://api.github.com/users/kaiomagalhaes/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiomagalhaes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiomagalhaes/subscriptions","organizations_url":"https://api.github.com/users/kaiomagalhaes/orgs","repos_url":"https://api.github.com/users/kaiomagalhaes/repos","events_url":"https://api.github.com/users/kaiomagalhaes/events{/privacy}","received_events_url":"https://api.github.com/users/kaiomagalhaes/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-10-13T13:15:48Z","published_at":"2020-10-13T13:16:53Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/codelitt-v2/tarball/rc.2.v1.33.0","zipball_url":"https://api.github.com/repos/codelittinc/codelitt-v2/zipball/rc.2.v1.33.0","body":"Available
        in the release of *codelitt-v2*:\n - Enable user access to contact page via
        CTAs and links \n - Add custom form-based success message [CW-130](https://codelitt.atlassian.net/browse/CW-130)\n
        - Correct alignment of success page''s hero heading to centered [CW-111](https://codelitt.atlassian.net/browse/CW-111)"},{"url":"https://api.github.com/repos/codelittinc/codelitt-v2/releases/[...]
