---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"92eb8f249a22cd56b25728fdf97eef9cde22093b6499095c1bdd0d2b29ec79b7"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1602599651'
      X-Ratelimit-Used:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/32509514","assets_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/32509514/assets","upload_url":"https://uploads.github.com/repos/codelittinc/gh-hooks-repo-test/releases/32509514/assets{?name,label}","html_url":"https://github.com/codelittinc/gh-hooks-repo-test/releases/tag/rc.3.v0.0.29","id":32509514,"node_id":"MDc6UmVsZWFzZTMyNTA5NTE0","tag_name":"rc.3.v0.0.29","target_commitish":"master","name":null,"draft":false,"author":{"login":"kaiomagalhaes","id":1529246,"node_id":"MDQ6VXNlcjE1MjkyNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/1529246?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiomagalhaes","html_url":"https://github.com/kaiomagalhaes","followers_url":"https://api.github.com/users/kaiomagalhaes/followers","following_url":"https://api.github.com/users/kaiomagalhaes/following{/other_user}","gists_url":"https://api.github.com/users/kaiomagalhaes/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiomagalhaes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiomagalhaes/subscriptions","organizations_url":"https://api.github.com/users/kaiomagalhaes/orgs","repos_url":"https://api.github.com/users/kaiomagalhaes/repos","events_url":"https://api.github.com/users/kaiomagalhaes/events{/privacy}","received_events_url":"https://api.github.com/users/kaiomagalhaes/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-09-21T18:00:47Z","published_at":"2020-10-13T14:15:56Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/tarball/rc.3.v0.0.29","zipball_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/zipball/rc.3.v0.0.29","body":"this
        \n is \n nice"},{"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/30672900","assets_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/30672900/assets","upload_url":"https://uploads.github.com/repos/codelittinc/gh-hooks-repo-test/releases/30672900/assets{?name,label}","html_url":"https://github.com/codelittinc/gh-hooks-repo-test/releases/tag/r[...]
- request:
    method: delete
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/32509514
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1602599651'
      X-Ratelimit-Used:
      - '57'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Oct 2020 14:15:58 GMT
[...]
