---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1595249347'
      Etag:
      - W/"60a9abd20a40059f2319909b242c185a"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/234684185/releases?page=2>; rel="next",
        <https://api.github.com/repositories/234684185/releases?page=3>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28735664","assets_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28735664/assets","upload_url":"https://uploads.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28735664/assets{?name,label}","html_url":"https://github.com/codelittinc/gh-hooks-repo-test/releases/tag/rc.3.v0.0.29","id":28735664,"node_id":"MDc6UmVsZWFzZTI4NzM1NjY0","tag_name":"rc.3.v0.0.29","target_commitish":"master","name":null,"draft":false,"author":{"login":"kaiomagalhaes","id":1529246,"node_id":"MDQ6VXNlcjE1MjkyNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/1529246?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiomagalhaes","html_url":"https://github.com/kaiomagalhaes","followers_url":"https://api.github.com/users/kaiomagalhaes/followers","following_url":"https://api.github.com/users/kaiomagalhaes/following{/other_user}","gists_url":"https://api.github.com/users/kaiomagalhaes/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiomagalhaes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiomagalhaes/subscriptions","organizations_url":"https://api.github.com/users/kaiomagalhaes/orgs","repos_url":"https://api.github.com/users/kaiomagalhaes/repos","events_url":"https://api.github.com/users/kaiomagalhaes/events{/privacy}","received_events_url":"https://api.github.com/users/kaiomagalhaes/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-07-10T11:34:12Z","published_at":"2020-07-20T12:05:25Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/tarball/rc.3.v0.0.29","zipball_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/zipball/rc.3.v0.0.29","body":"this
        \n is \n nice"},{"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28735408","assets_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28735408/assets","upload_url":"https://uploads.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28735408/assets{?name,label}","html_url":"https://github.com/codelittinc/gh-hooks-repo-test/releases/tag/r[...]
- request:
    method: delete
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases/28735664
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1595249347'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Jul 2020 12:09:54 GMT
[...]
