---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"content_type":"json","insecure_ssl":"1","url":"https://api.roadrunner.codelitt.dev/flows"},"events":["check_run","pull_request","pull_request_review","push","release"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"fc6ddb0053234cd9469dc49b17d7ad85bcc27b587147eaf638f935e7a501a34a"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, repo, write:repo_hook
      Location:
      - https://api.github.com/repos/codelittinc/gh-hooks-repo-test/hooks/257499613
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1603383894'
      X-Ratelimit-Used:
      - '40'
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":257499613,"name":"web","active":true,"events":["check_run","pull_request","pull_request_review","push","release"],"config":{"content_type":"json","insecure_ssl":"1","url":"https://api.roadrunner.codelitt.dev/flows"},"updated_at":"2020-10-22T16:22:07Z","created_at":"2020-10-22T16:22:07Z","url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/hooks/257499613","test_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/hooks/257499613/test","ping_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/hooks/257499613/pings","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Thu, 22 Oct 2020 16:22:07 GMT
[...]
