---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/gh-hooks-repo-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <SENSITIVE_DATA>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7808edfcb74f34c29bbd4908a7a51b276d6106c8a02301e2a7139e51d06c6886"
      Last-Modified:
      - Mon, 21 Sep 2020 18:00:50 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1640655579'
      X-Ratelimit-Used:
      - '25'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":234684185,"node_id":"MDEwOlJlcG9zaXRvcnkyMzQ2ODQxODU=","name":"gh-hooks-repo-test","full_name":"codelittinc/gh-hooks-repo-test","private":true,"owner":{"login":"codelittinc","id":5694024,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2OTQwMjQ=","avatar_url":"https://avatars.githubusercontent.com/u/5694024?v=4","gravatar_id":"","url":"https://api.github.com/users/codelittinc","html_url":"https://github.com/codelittinc","followers_url":"https://api.github.com/users/codelittinc/followers","following_url":"https://api.github.com/users/codelittinc/following{/other_user}","gists_url":"https://api.github.com/users/codelittinc/gists{/gist_id}","starred_url":"https://api.github.com/users/codelittinc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codelittinc/subscriptions","organizations_url":"https://api.github.com/users/codelittinc/orgs","repos_url":"https://api.github.com/users/codelittinc/repos","events_url":"https://api.github.com/users/codelittinc/events{/privacy}","received_events_url":"https://api.github.com/users/codelittinc/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/codelittinc/gh-hooks-repo-test","description":null,"fork":false,"url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test","forks_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/forks","keys_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/teams","hooks_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/hooks","issue_events_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/issues/events{/number}","events_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/events","assignees_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/assignees{/user}","branches_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/branches{/branch}","tags_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/tags","blobs_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/statuses/{sha}","languages_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/languages","stargazers_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/stargazers","contributors_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/contributors","subscribers_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/subscribers","subscription_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/subscription","commits_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/contents/{+path}","compare_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/merges","archive_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/downloads","issues_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/issues{/number}","pulls_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/pulls{/number}","milestones_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/milestones{/number}","notifications_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/labels{/name}","releases_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/releases{/id}","deployments_url":"https://api.github.com/repos/codelittinc/gh-hooks-repo-test/deployments","created_at":"2020-01-18T05:01:44Z","updated_at":"2020-09-21T18:00:50Z","pushed_at":"2020-10-13T14:16:17Z","git_url":"git://github.com/codelittinc/gh-hooks-repo-test.git","ssh_url":"git@github.com:codelittinc/gh-hooks-repo-test.git","clone_url":"https://github.com/codelittinc/gh-hooks-repo-test.git","svn_url":"https://github.com/codelittinc/gh-hooks-repo-test","homepage":null,"size":182,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":78,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"private","forks":0,"open_issues":78,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"AALVLHVFWAHC5PEJXS45F6DBZJUSG","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"organization":{"login":"codelittinc","id":5694024,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2OTQwMjQ=","avatar_url":"https://avatars.githubusercontent.com/u/5694024?v=4","gravatar_id":"","url":"https://api.github.com/users/codelittinc","html_url":"https://github.com/codelittinc","followers_url":"https://api.github.com/users/codelittinc/followers","following_url":"https://api.github.com/users/codelittinc/following{/other_user}","gists_url":"https://api.github.com/users/codelittinc/gists{/gist_id}","starred_url":"https://api.github.com/users/codelittinc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codelittinc/subscriptions","organizations_url":"https://api.github.com/users/codelittinc/orgs","repos_url":"https://api.github.com/users/codelittinc/repos","events_url":"https://api.github.com/users/codelittinc/events{/privacy}","received_events_url":"https://api.github.com/users/codelittinc/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":3}'
  recorded_at: Tue, 28 Dec 2021 01:27:19 GMT
recorded_with: VCR 6.0.0
