---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/codelitt-v2/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 32d1c8a8b47b28ce7c676805f9d85f4b65cd7549
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4924'
      X-Ratelimit-Reset:
      - '1594929904'
      Etag:
      - W/"74e5530c781f472414b4fe5db63037a2"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/63980910/releases?page=2>; rel="next",
        <https://api.github.com/repositories/63980910/releases?page=3>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/codelitt-v2/releases/28639607","assets_url":"https://api.github.com/repos/codelittinc/codelitt-v2/releases/28639607/assets","upload_url":"https://uploads.github.com/repos/codelittinc/codelitt-v2/releases/28639607/assets{?name,label}","html_url":"https://github.com/codelittinc/codelitt-v2/releases/tag/v2.1.26","id":28639607,"node_id":"MDc6UmVsZWFzZTI4NjM5NjA3","tag_name":"v2.1.26","target_commitish":"5ee8d1e14a5c28e3686a1636cc00ef83704e5c29","name":"Version
        v2.1.26","draft":false,"author":{"login":"kaiomagalhaes","id":1529246,"node_id":"MDQ6VXNlcjE1MjkyNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/1529246?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiomagalhaes","html_url":"https://github.com/kaiomagalhaes","followers_url":"https://api.github.com/users/kaiomagalhaes/followers","following_url":"https://api.github.com/users/kaiomagalhaes/following{/other_user}","gists_url":"https://api.github.com/users/kaiomagalhaes/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiomagalhaes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiomagalhaes/subscriptions","organizations_url":"https://api.github.com/users/kaiomagalhaes/orgs","repos_url":"https://api.github.com/users/kaiomagalhaes/repos","events_url":"https://api.github.com/users/kaiomagalhaes/events{/privacy}","received_events_url":"https://api.github.com/users/kaiomagalhaes/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2020-07-13T19:26:58Z","published_at":"2020-07-16T15:50:28Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/codelitt-v2/tarball/v2.1.26","zipball_url":"https://api.github.com/repos/codelittinc/codelitt-v2/zipball/v2.1.26","body":"Available
        in this release \n  - Update People and Culture Values section text \n - Update
        People and Culture Team section photos \n - Add rel attribute to new tab redirect
        links \n - Update people_and_culture.scss file code architecture \n - Remove
        HTML selectors from people_and_culture.scss file \n - Add recaptcha to forms
        in contact, UT and webinar landing pages \n - Add recap[...]
