---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d163cd83d867301f6e6f98a4d16703e0507d26e112c6d90a49eae6b7bbdaac0c"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1602686986'
      X-Ratelimit-Used:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32509786","assets_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/releases/32509786/assets","upload_url":"https://uploads.github.com/repos/codelittinc/roadrunner-repository-test/releases/32509786/assets{?name,label}","html_url":"https://github.com/codelittinc/roadrunner-repository-test/releases/tag/rc.1.v1.0.0","id":32509786,"node_id":"MDc6UmVsZWFzZTMyNTA5Nzg2","tag_name":"rc.1.v1.0.0","target_commitish":"master","name":null,"draft":false,"author":{"login":"kaiomagalhaes","id":1529246,"node_id":"MDQ6VXNlcjE1MjkyNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/1529246?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiomagalhaes","html_url":"https://github.com/kaiomagalhaes","followers_url":"https://api.github.com/users/kaiomagalhaes/followers","following_url":"https://api.github.com/users/kaiomagalhaes/following{/other_user}","gists_url":"https://api.github.com/users/kaiomagalhaes/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiomagalhaes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiomagalhaes/subscriptions","organizations_url":"https://api.github.com/users/kaiomagalhaes/orgs","repos_url":"https://api.github.com/users/kaiomagalhaes/repos","events_url":"https://api.github.com/users/kaiomagalhaes/events{/privacy}","received_events_url":"https://api.github.com/users/kaiomagalhaes/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2020-08-25T18:39:06Z","published_at":"2020-10-13T14:20:00Z","assets":[],"tarball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/tarball/rc.1.v1.0.0","zipball_url":"https://api.github.com/repos/codelittinc/roadrunner-repository-test/zipball/rc.1.v1.0.0","body":"Available
        in the release of *roadrunner-repository-test*:\n - Create README.md [AYAPI-274](https://codelitt.atlassian.net/browse/AYAPI-274)"}]'
  recorded_at: Wed, 14 Oct 2020 14:19:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/codelittinc/roadrunner-repository-test/branches/hotfix/test-hotfix-octtefdhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2e593567d90bd505570de77f516f44ebe4aba218
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1602686986'
      X-Ratelimit-Used:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Branch not found","documentation_url":"https://docs.github.com/rest/reference/repos#get-a-branch"}'
  recorded_at: Wed, 14 Oct 2020 14:19:05 GMT
recorded_with: VCR 6.0.0
