<h1>New application</h1>

<%= form_with url: "/repositories/#{@repository.id}/applications"  do |form| %>
  <%= render "form", form: form, application: @application ,repository: @repository %>
<% end %>

<br>

<div>
  <%= link_to "Back to repository", url_for(:back) %>
</div>
