<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<%= link_to "New project", new_project_path %>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to project.name, project %>
    </p>
  <% end %>
</div>
